Dashboard.json
[{"id":"5997f62ed44f7303","type":"tab","label":"Home screen","disabled":false,"info":"","env":[]},{"id":"1d28ab40a18bec3b","type":"tab","label":"Lamp Control","disabled":false,"info":"","env":[]},{"id":"d9d2f214529d33da","type":"tab","label":"Historical","disabled":false,"info":"","env":[]},{"id":"34f22b05cbd58727","type":"tab","label":"Entity","disabled":false,"info":"","env":[]},{"id":"e572cadeac508138","type":"tab","label":"Device","disabled":false,"info":"","env":[]},{"id":"1602850f8ee96d62","type":"tab","label":"Log in","disabled":false,"info":"","env":[]},{"id":"4eb7c8dff09ea662","type":"tab","label":"Patient","disabled":false,"info":"","env":[]},{"id":"042a34f2fe74b785","type":"mqtt-broker","name":"Broker Teste","broker":"mqtt.eclipseprojects.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"iot/teste","birthQos":"2","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"92c93a6ab1150941","type":"sqlitedb","db":"D:\\Documents\\node\\sqlite-tools-win-x64-3460100/lamp_schedule.db","mode":"RWC"},{"id":"b02562d37cc13e0d","type":"ui_tab","name":"Lamp Control","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"e59cab32981dad33","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d0ce65ddaf752a43","type":"ui_group","name":"Health System","tab":"b02562d37cc13e0d","order":1,"disp":true,"width":"17","collapse":false,"className":""},{"id":"80ee528d1553a3c0","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":1,"width":17,"height":1},{"id":"7a84557cbbf0cc02","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":3,"width":8,"height":1},{"id":"a9f7527ec10f1e31","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":5,"width":14,"height":1},{"id":"e01eb8dd2f92184f","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":6,"width":17,"height":1},{"id":"ec367a5b12a8bbaa","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":12,"width":17,"height":1},{"id":"1ca872d52c8280c0","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"d97fe2dce7e66626","type":"ui_tab","name":"Historical Data","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2b4dbe26a6e761bf","type":"ui_group","name":"Historical ","tab":"d97fe2dce7e66626","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"4a189ca57dad7ce7","type":"ui_tab","name":"log in","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a7513268b5069b0b","type":"ui_group","name":"Log in","tab":"4a189ca57dad7ce7","order":1,"disp":false,"width":"6","collapse":false,"className":""},{"id":"0d41725f52cd45dc","type":"ui_tab","name":"Register","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"339285a0c8df0979","type":"ui_group","name":"Register","tab":"0d41725f52cd45dc","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b7b1f45b275c278f","type":"ui_tab","name":"Home","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"cfd2f7c6bb6b7df8","type":"ui_group","name":"Home","tab":"b7b1f45b275c278f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3852e7d1c4d647c9","type":"ui_tab","name":"Air Control","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"4d94314be070c8a8","type":"ui_group","name":"Group 1","tab":"3852e7d1c4d647c9","order":1,"disp":true,"width":6},{"id":"0639355c31f25ed4","type":"ui_tab","name":"Alarms","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"878442a4b7416d80","type":"ui_group","name":"Group 1","tab":"0639355c31f25ed4","order":1,"disp":true,"width":6},{"id":"953e098170eb7d80","type":"ui_tab","name":"Patient","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"7fb095e26909aac0","type":"ui_group","name":"Patients","tab":"953e098170eb7d80","order":1,"disp":true,"width":14,"collapse":false,"className":""},{"id":"2b60683926b07d34","type":"ui_tab","name":"Add Device","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"fe8dc837cefb9493","type":"ui_group","name":"Add Device","tab":"2b60683926b07d34","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cad5a26ebf0763f2","type":"ui_tab","name":"Entity","icon":"dashboard","order":11,"disabled":false,"hidden":false},{"id":"40e4e09321f45dca","type":"ui_tab","name":"Device","icon":"dashboard","order":12,"disabled":false,"hidden":false},{"id":"e4cc8096b04ecbd3","type":"ui_group","name":"Device","tab":"40e4e09321f45dca","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"8d88c03ce56c4826","type":"ui_tab","name":"Add Entity","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"5957570cb6c084d1","type":"ui_group","name":"Add Entity","tab":"8d88c03ce56c4826","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"be858f575fa55f88","type":"ui_spacer","z":"e572cadeac508138","name":"spacer","group":"e4cc8096b04ecbd3","order":4,"width":12,"height":1},{"id":"8fe7e836f02ec440","type":"ui_spacer","z":"e572cadeac508138","name":"spacer","group":"e4cc8096b04ecbd3","order":7,"width":2,"height":1},{"id":"9ca93b5ff4e09f25","type":"ui_spacer","z":"e572cadeac508138","name":"spacer","group":"e4cc8096b04ecbd3","order":9,"width":2,"height":1},{"id":"250e71d18feeab5f","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"2b4dbe26a6e761bf","order":3,"width":5,"height":1},{"id":"4a55ee41861e9940","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"2b4dbe26a6e761bf","order":5,"width":8,"height":1},{"id":"142cc43881674dfc","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"2b4dbe26a6e761bf","order":7,"width":8,"height":1},{"id":"04fc4b16e8ea2b89","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"2b4dbe26a6e761bf","order":9,"width":8,"height":1},{"id":"ccf822eac150a2fa","type":"ui_tab","name":"Machine learning","icon":"dashboard","order":13,"disabled":false,"hidden":false},{"id":"6b8957b1f20f0f88","type":"ui_group","name":"Analyzes","tab":"ccf822eac150a2fa","order":1,"disp":false,"width":"11","collapse":false,"className":""},{"id":"540ba660dedb8430","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":3,"width":1,"height":1},{"id":"102af8a9c621bba8","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":6,"width":4,"height":1},{"id":"270ef01d7bbe28f4","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":8,"width":4,"height":1},{"id":"cfcfbf681ccd97fa","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":10,"width":4,"height":1},{"id":"10798129e75e1652","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":11,"width":2,"height":1},{"id":"f73c5033f5c9832c","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":13,"width":3,"height":1},{"id":"cbdd243a59253446","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":14,"width":2,"height":1},{"id":"016d5f5630f31947","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":16,"width":3,"height":1},{"id":"3325e60b52b9ae16","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":17,"width":2,"height":1},{"id":"4f9271393e498521","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":19,"width":3,"height":1},{"id":"9f514927224a9977","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":20,"width":2,"height":1},{"id":"a457e49847ab9436","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":22,"width":3,"height":1},{"id":"a86630e03de11756","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":23,"width":2,"height":1},{"id":"7f7bbe580b3af2d6","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"6b8957b1f20f0f88","order":25,"width":3,"height":1},{"id":"f1e2033f7ca9fb4c","type":"ui_tab","name":"Add Patient","icon":"dashboard","disabled":false,"hidden":false},{"id":"d31a3adb3be0fc29","type":"ui_group","name":"Edit Patient","tab":"d501aa11671b38d9","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d501aa11671b38d9","type":"ui_tab","name":"Edit Patient","icon":"Edit Patient","disabled":false,"hidden":false},{"id":"7c5c06cb211a62d2","type":"ui_group","name":"Add Patient","tab":"f1e2033f7ca9fb4c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"349271e08262ed74","type":"ui_spacer","z":"4eb7c8dff09ea662","name":"spacer","group":"7fb095e26909aac0","order":1,"width":14,"height":1},{"id":"222a89e639acf7ec","type":"ui_spacer","z":"4eb7c8dff09ea662","name":"spacer","group":"7fb095e26909aac0","order":4,"width":2,"height":1},{"id":"057ffb587c3c7236","type":"ui_spacer","z":"4eb7c8dff09ea662","name":"spacer","group":"7fb095e26909aac0","order":6,"width":2,"height":1},{"id":"49894316f97c49ba","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":22,"width":6,"height":1},{"id":"ba769fb13d38d4e3","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":30,"width":6,"height":1},{"id":"86bd2cad11069c34","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":38,"width":6,"height":1},{"id":"89f36a149d8cce61","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":46,"width":12,"height":1},{"id":"d945372e43074ff8","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":54,"width":12,"height":1},{"id":"46489d67e5428678","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":55,"width":12,"height":1},{"id":"293896743a8fd171","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":63,"width":12,"height":1},{"id":"6af8348a2b20d151","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":71,"width":12,"height":1},{"id":"447205dc61470ee4","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":72,"width":12,"height":1},{"id":"a426681aafa6ec3e","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":73,"width":12,"height":1},{"id":"5eacf0f545a9094b","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":81,"width":12,"height":1},{"id":"dd203a7b01d4f1b0","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":82,"width":5,"height":1},{"id":"ae6aa07506f68cfd","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":97,"width":4,"height":1},{"id":"2c447aefb75a6ebf","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":105,"width":9,"height":1},{"id":"8f0a8b6ce994526f","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":114,"width":12,"height":1},{"id":"9c42c15d89146e3f","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":115,"width":12,"height":1},{"id":"4a8a008d0f2b6530","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":116,"width":12,"height":1},{"id":"b18914941fe0d75c","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":117,"width":12,"height":1},{"id":"95a407ab9fc8d3e1","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":118,"width":12,"height":1},{"id":"865bf5a3eaf80bd5","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":119,"width":12,"height":1},{"id":"2bbc129518a9c87c","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":120,"width":12,"height":1},{"id":"e202c399a06b2a08","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":121,"width":12,"height":1},{"id":"dabdd78d03172fed","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":122,"width":12,"height":1},{"id":"2736d61e5b36da7e","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":123,"width":12,"height":1},{"id":"e2a0cf2b67ce82ee","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":124,"width":12,"height":1},{"id":"4e6acfef235b2769","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":125,"width":12,"height":1},{"id":"a3a469d155fa951d","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":126,"width":12,"height":1},{"id":"68905f318a929080","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":127,"width":12,"height":1},{"id":"946770aac8532011","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":129,"width":12,"height":1},{"id":"5b7865d43f9db5ef","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":130,"width":12,"height":1},{"id":"46436ded9dd8427f","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":131,"width":12,"height":1},{"id":"7ad2b3971342f179","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":132,"width":12,"height":1},{"id":"e088cbacf0b08dc4","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":133,"width":12,"height":1},{"id":"7ad693a48061049b","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":134,"width":12,"height":1},{"id":"39f36907946dd6ed","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":135,"width":12,"height":1},{"id":"0cbeba1efb71056f","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":136,"width":12,"height":1},{"id":"7ca1711cbd9f1371","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":137,"width":12,"height":1},{"id":"b4ee93cfba91fd39","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":138,"width":12,"height":1},{"id":"6ee3d883ce1aebad","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":139,"width":12,"height":1},{"id":"b4fcc83f0ebb52a8","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":140,"width":12,"height":1},{"id":"603af34a6bd10be9","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":141,"width":12,"height":1},{"id":"36362440ad07fc1f","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":142,"width":12,"height":1},{"id":"f7e84a4feee2383d","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":144,"width":12,"height":1},{"id":"5ee4e3ba74948b3d","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":145,"width":12,"height":1},{"id":"cc671717e3b78058","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":146,"width":12,"height":1},{"id":"32dedbdc2a418ecc","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":147,"width":12,"height":1},{"id":"ccc1ca1e82c83092","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":148,"width":12,"height":1},{"id":"724937f68f2a35e4","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":149,"width":12,"height":1},{"id":"895ea3207b6744c0","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":150,"width":12,"height":1},{"id":"e449ce28278db07c","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":151,"width":12,"height":1},{"id":"dd78391cf83e399b","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":152,"width":12,"height":1},{"id":"ed9b8ca1f74720d1","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":153,"width":12,"height":1},{"id":"d029b50ff9674ca1","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":154,"width":12,"height":1},{"id":"d19898333691d371","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":155,"width":12,"height":1},{"id":"69051cb58317f285","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":156,"width":12,"height":1},{"id":"dd70e8990e1baafa","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":157,"width":12,"height":1},{"id":"3a42e5c097fda5da","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":158,"width":12,"height":1},{"id":"bbf0bb44552afc8b","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":159,"width":12,"height":1},{"id":"ec8d9445fb498e7b","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":160,"width":12,"height":1},{"id":"5efb94f1813fa88c","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":161,"width":12,"height":1},{"id":"f21d5ee2a57122f3","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":162,"width":12,"height":1},{"id":"e6e466f062df3359","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":163,"width":12,"height":1},{"id":"de4dc7783c261e49","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":164,"width":12,"height":1},{"id":"060ccac0c0955a87","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":165,"width":12,"height":1},{"id":"f72e43f459d36068","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":166,"width":12,"height":1},{"id":"2053e258d30502f9","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":167,"width":12,"height":1},{"id":"560195370fc8e2c8","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":168,"width":12,"height":1},{"id":"a2215337a1d5bd9d","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":169,"width":12,"height":1},{"id":"3a36048fc483ac25","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":170,"width":12,"height":1},{"id":"46d39e5a2fb61a9d","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":171,"width":12,"height":1},{"id":"af98cede5ec42951","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":172,"width":12,"height":1},{"id":"f427c4f339c55aa7","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":173,"width":12,"height":1},{"id":"052807e21d4657c0","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":174,"width":12,"height":1},{"id":"1ea6220bf9b8d980","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"8a85c8840ee75ccb","order":175,"width":12,"height":1},{"id":"15b2ee992a3f674e","type":"ui_group","name":"Entity","tab":"cad5a26ebf0763f2","order":1,"disp":true,"width":13,"collapse":false,"className":""},{"id":"2366e9abe0d5a54f","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"5957570cb6c084d1","order":3,"width":3,"height":1},{"id":"75e3c216c5750dd6","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"5957570cb6c084d1","order":5,"width":3,"height":1},{"id":"1e5f781f7e47b56b","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"15b2ee992a3f674e","order":3,"width":1,"height":1},{"id":"5e9299d1636c7205","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"15b2ee992a3f674e","order":5,"width":4,"height":1},{"id":"58d0ad55c5a7a182","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"15b2ee992a3f674e","order":7,"width":4,"height":1},{"id":"adf028e7610f5a59","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"15b2ee992a3f674e","order":9,"width":4,"height":1},{"id":"9139608d4c932d83","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"15b2ee992a3f674e","order":10,"width":13,"height":1},{"id":"aa9515ab213498db","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"15b2ee992a3f674e","order":12,"width":13,"height":1},{"id":"69e3aa1711bdc554","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"15b2ee992a3f674e","order":15,"width":2,"height":1},{"id":"4d9cae8a1ba0687e","type":"ui_spacer","z":"34f22b05cbd58727","name":"spacer","group":"15b2ee992a3f674e","order":17,"width":2,"height":1},{"id":"2085cd9f17528425","type":"ui_button","z":"5997f62ed44f7303","name":"Lamp Control","group":"cfd2f7c6bb6b7df8","order":0,"width":0,"height":0,"passthru":false,"label":"Lamp Control","tooltip":"","color":"","bgcolor":"","className":"","icon":"lamp","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":140,"wires":[["d1d6bc02c47bc534"]]},{"id":"0e55652e7aa292ab","type":"ui_button","z":"5997f62ed44f7303","name":"Historical","group":"cfd2f7c6bb6b7df8","order":1,"width":0,"height":0,"passthru":false,"label":"Historical","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":200,"wires":[["393cedc3f3cf0b5e"]]},{"id":"f43b0361997965de","type":"ui_button","z":"5997f62ed44f7303","name":"Air  Control","group":"cfd2f7c6bb6b7df8","order":0,"width":0,"height":0,"passthru":false,"label":"Air Conditioning Control","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":280,"wires":[["fc0630f2221007c1"]]},{"id":"9afe2058b6f86ccb","type":"ui_button","z":"5997f62ed44f7303","name":"Alarms","group":"cfd2f7c6bb6b7df8","order":0,"width":0,"height":0,"passthru":false,"label":"Alarms","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":340,"wires":[["8cef2f10398311bd"]]},{"id":"d1d6bc02c47bc534","type":"change","z":"5997f62ed44f7303","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Lamp Control\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":140,"wires":[["2c6a11c8550f0757"]]},{"id":"2c6a11c8550f0757","type":"ui_ui_control","z":"5997f62ed44f7303","name":"","events":"all","x":520,"y":140,"wires":[[]]},{"id":"393cedc3f3cf0b5e","type":"change","z":"5997f62ed44f7303","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Historical Data\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":200,"wires":[["fc71d4b426d6b5db"]]},{"id":"fc0630f2221007c1","type":"change","z":"5997f62ed44f7303","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Air Control\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":280,"wires":[["3043cb48c501d483"]]},{"id":"8cef2f10398311bd","type":"change","z":"5997f62ed44f7303","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Alarms\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":340,"wires":[["6530216774f1ce58"]]},{"id":"fc71d4b426d6b5db","type":"ui_ui_control","z":"5997f62ed44f7303","name":"","events":"all","x":520,"y":200,"wires":[[]]},{"id":"3043cb48c501d483","type":"ui_ui_control","z":"5997f62ed44f7303","name":"","events":"all","x":540,"y":280,"wires":[[]]},{"id":"6530216774f1ce58","type":"ui_ui_control","z":"5997f62ed44f7303","name":"","events":"all","x":540,"y":340,"wires":[[]]},{"id":"73a351f01fc3f758","type":"ui_text","z":"5997f62ed44f7303","group":"4d94314be070c8a8","order":0,"width":0,"height":0,"name":"","label":"Air control","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":140,"y":440,"wires":[]},{"id":"da32508344044b47","type":"ui_text","z":"5997f62ed44f7303","group":"878442a4b7416d80","order":0,"width":0,"height":0,"name":"","label":"Alarms","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":320,"y":440,"wires":[]},{"id":"944842fd646ecead","type":"function","z":"5997f62ed44f7303","name":"function 26","func":"msg.payload = {\n    \"tabs\": {\n        \"hide\": [\"Log in\"],  // Hide only the \"Log in\" tab\n        \"show\": [\"Lamp Control\", \"Home\", \"Historical Data\", \"Register\", \"Air Control\", \"Alarms\"]  // Unhide the other tabs\n    }\n};\n\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":40,"wires":[["95ccc88ed7e675ed"]]},{"id":"95ccc88ed7e675ed","type":"ui_ui_control","z":"5997f62ed44f7303","name":"","events":"all","x":540,"y":40,"wires":[[]]},{"id":"44588b6b1d45b3b3","type":"inject","z":"5997f62ed44f7303","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":90,"y":40,"wires":[["944842fd646ecead"]]},{"id":"fe357fd7a35d0ff3","type":"debug","z":"1d28ab40a18bec3b","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":1100,"wires":[]},{"id":"eb68d9e735036d6a","type":"debug","z":"1d28ab40a18bec3b","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":680,"wires":[]},{"id":"de8365a5d3e94122","type":"debug","z":"1d28ab40a18bec3b","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":720,"y":740,"wires":[]},{"id":"3bc84a5217ceac90","type":"debug","z":"1d28ab40a18bec3b","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":840,"wires":[]},{"id":"f1dd8c9f78e66091","type":"function","z":"1d28ab40a18bec3b","name":"function 2","func":"function convertMillisecondsToTime(millis) {\n    let date = new Date(millis);\n    let hours = date.getUTCHours().toString().padStart(2, '0');\n    let minutes = date.getUTCMinutes().toString().padStart(2, '0');\n    let seconds = date.getUTCSeconds().toString().padStart(2, '0');\n    return `${hours}:${minutes}:${seconds}`;\n}\n\nvar dict=flow.get(\"obj\")||{\"id_Lamp\":\"\",\n    \"id_user\":1, \n    \"time\" :\"00:00\",\n    \"weekdays\": [],   \n    \"action\": \"\"}\n\nmsg.payload = convertMillisecondsToTime(msg.payload);\n\ndict.time =msg.payload\nflow.set(\"obj\", dict)\nmsg.payload= dict\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":680,"wires":[["eb68d9e735036d6a"]]},{"id":"13e8ef15c626ac8f","type":"function","z":"1d28ab40a18bec3b","name":"function 4","func":"\nvar dict=flow.get(\"obj\")||{\"id_Lamp\":\"\",\n    \"id_user\":1, \n    \"time\" :\"00:00\",\n    \"weekdays\": [],   \n    \"action\": \"\"}\n\ndict.weekdays =msg.payload\nflow.set(\"obj\", dict)\nmsg.payload = dict\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":740,"wires":[["de8365a5d3e94122"]]},{"id":"3cdc9bb4caca8aca","type":"function","z":"1d28ab40a18bec3b","name":"function 5","func":"\nvar dict=flow.get(\"obj\")||{\"id_Lamp\":\"\",\n    \"id_user\":1, \n    \"time\" :\"00:00\",\n    \"weekdays\": [],   \n    \"action\": \"\"}\n\n//dict.state =dict.state.toLowerCase()\ndict.action =msg.payload\nflow.set(\"obj\", dict)\nmsg.payload= dict\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":840,"wires":[["3bc84a5217ceac90"]]},{"id":"f238a067a40dcad2","type":"debug","z":"1d28ab40a18bec3b","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"61269081c57d643f","type":"http request","z":"1d28ab40a18bec3b","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://0.0.0.0:8080/test","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":570,"y":960,"wires":[["099645a762f32b46","d13c3fadc73ae48b"]]},{"id":"1f2c9ce26d6f2864","type":"debug","z":"1d28ab40a18bec3b","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":900,"wires":[]},{"id":"1bd6448aa2652cb5","type":"ui_table","z":"1d28ab40a18bec3b","group":"d0ce65ddaf752a43","name":"","order":11,"width":17,"height":4,"columns":[{"field":"id","title":"Id","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"id_Lamp","title":"id_Lamp","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"weekdays","title":"weekdays","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"time","title":"time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"action","title":"Action","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":650,"y":1160,"wires":[["fe357fd7a35d0ff3","3d812743de72a8e1","caedf4cd960bdca4"]]},{"id":"3623b3e5402c5b22","type":"ui_text_input","z":"1d28ab40a18bec3b","name":"Select Time","label":"Select TIme","tooltip":"","group":"d0ce65ddaf752a43","order":8,"width":0,"height":0,"passthru":false,"mode":"time","delay":300,"topic":"payload","sendOnBlur":false,"className":"","topicType":"msg","x":270,"y":680,"wires":[["f1dd8c9f78e66091"]]},{"id":"9edb75148cdca716","type":"ui_dropdown","z":"1d28ab40a18bec3b","name":"","label":"Select Weekdays","tooltip":"","place":"Select Weekdays","group":"d0ce65ddaf752a43","order":7,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":"Sunday","type":"str"},{"label":"","value":"Monday","type":"str"},{"label":"","value":"Tuesday","type":"str"},{"label":"","value":"Wednesday","type":"str"},{"label":"","value":"Thursday","type":"str"},{"label":"","value":"Friday","type":"str"},{"label":"","value":"Saturday","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":270,"y":760,"wires":[["13e8ef15c626ac8f"]]},{"id":"1f40804e41e2ea59","type":"ui_dropdown","z":"1d28ab40a18bec3b","name":"","label":"Action","tooltip":"","place":"State","group":"d0ce65ddaf752a43","order":9,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":" Turn On","value":true,"type":"bool"},{"label":"Turn Off","value":false,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":250,"y":840,"wires":[["3cdc9bb4caca8aca"]]},{"id":"099645a762f32b46","type":"ui_toast","z":"1d28ab40a18bec3b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"msg.payload","name":"","x":850,"y":980,"wires":[[]]},{"id":"2ea2a9f57cac8678","type":"json","z":"1d28ab40a18bec3b","name":"","property":"payload","action":"","pretty":true,"x":390,"y":960,"wires":[["61269081c57d643f","1f2c9ce26d6f2864"]]},{"id":"94f6d08eccf9c862","type":"ui_button","z":"1d28ab40a18bec3b","name":"","group":"d0ce65ddaf752a43","order":10,"width":0,"height":0,"passthru":false,"label":"Add Row","tooltip":"","color":"","bgcolor":"green","className":"","icon":"fa-plus-squared","payload":"obj","payloadType":"flow","topic":"payload","topicType":"msg","x":240,"y":960,"wires":[["2ea2a9f57cac8678"]]},{"id":"1117876611a416aa","type":"debug","z":"1d28ab40a18bec3b","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":1220,"wires":[]},{"id":"d13c3fadc73ae48b","type":"http request","z":"1d28ab40a18bec3b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://0.0.0.0:8080/test","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":440,"y":1120,"wires":[["1117876611a416aa","1bd6448aa2652cb5"]]},{"id":"bc5cc9a462bceb38","type":"ui_button","z":"1d28ab40a18bec3b","name":"","group":"d0ce65ddaf752a43","order":13,"width":0,"height":0,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"red","className":"","icon":"fa-trash","payload":"line_selected","payloadType":"flow","topic":"payload","topicType":"msg","x":150,"y":1580,"wires":[["0b793fae5e1cd024"]]},{"id":"eef526c152ee6c2d","type":"debug","z":"1d28ab40a18bec3b","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":1340,"wires":[]},{"id":"6740333f14b47192","type":"ui_button","z":"1d28ab40a18bec3b","name":"","group":"d0ce65ddaf752a43","order":15,"width":0,"height":0,"passthru":false,"label":"Update ","tooltip":"","color":"","bgcolor":"","className":"","icon":"update","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":1120,"wires":[["d13c3fadc73ae48b"]]},{"id":"c2eb5adbe54cccf9","type":"function","z":"1d28ab40a18bec3b","name":"function 10","func":"// Modify the state of each item in the payload\nmsg.payload = msg.payload.map(item => {\n    // Check if the state is \"0\" or \"1\" and change it accordingly\n    item.state = item.state === \"0\" ? \"Turn off\" : \"Turn on\";\n    return item;\n});\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1080,"wires":[[]]},{"id":"ec8a42057c0d79fc","type":"http request","z":"1d28ab40a18bec3b","name":"","method":"DELETE","ret":"obj","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":true,"authType":"","senderr":false,"headers":[],"x":850,"y":1680,"wires":[["94f24be1463e8361","b301f3ccf22df2b1"]]},{"id":"94f24be1463e8361","type":"debug","z":"1d28ab40a18bec3b","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":1520,"wires":[]},{"id":"3d812743de72a8e1","type":"function","z":"1d28ab40a18bec3b","name":"function 12","func":"// Store msg.payload into flow variable 'line_selected'\nflow.set('line_selected', msg.payload);\n\n// Return msg for further processing if needed\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":1200,"wires":[[]]},{"id":"a4e0e680e12ddcfe","type":"function","z":"1d28ab40a18bec3b","name":"function 13","func":"msg.url = `http://localhost:8080/test/?id=${msg.payload.id}`; // Dynamically set the URL\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1700,"wires":[["ec8a42057c0d79fc"]]},{"id":"8cddeb79b348c0a5","type":"ui_template","z":"1d28ab40a18bec3b","group":"d0ce65ddaf752a43","name":"","order":14,"width":0,"height":0,"format":"<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.payload) {\n            var selectedRowId = msg.payload.id;\n\n            // Clear previously highlighted rows\n            var tableRows = document.querySelectorAll(\".tabulator-row\");\n            tableRows.forEach(row => {\n                row.style.backgroundColor = \"\";\n            });\n\n            // Highlight the selected row based on ID\n            var selectedRow = Array.from(tableRows).find(row => {\n                return row.querySelector(\".tabulator-cell[tabulator-field='id']\").innerText.trim() === String(selectedRowId);\n            });\n\n            if (selectedRow) {\n                selectedRow.style.backgroundColor = \"#98fb98\";\n            }\n        }\n    });\n})(scope);\n</script>\n\n<style>\n/* Optional: Add any custom styling for the table */\n.tabulator-row {\n    transition: background-color 0.3s ease;\n}\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":860,"y":1260,"wires":[[]]},{"id":"caedf4cd960bdca4","type":"function","z":"1d28ab40a18bec3b","name":"function 14","func":"// Store the selected row ID in a flow variable\nflow.set('selectedRowId', msg.payload.id);\n\n// Pass the message along\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1260,"wires":[["eef526c152ee6c2d","8cddeb79b348c0a5"]]},{"id":"0b793fae5e1cd024","type":"ui_toast","z":"1d28ab40a18bec3b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Yes, Delete it","cancel":"Cancel","raw":false,"className":"msg.payload","topic":"Do you want to delete it?","name":"","x":310,"y":1580,"wires":[["57c08801ee46964d","adb422fb3073973f"]]},{"id":"57c08801ee46964d","type":"debug","z":"1d28ab40a18bec3b","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":1780,"wires":[]},{"id":"adb422fb3073973f","type":"switch","z":"1d28ab40a18bec3b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes, Delete it","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":1580,"wires":[["a083d5fb7438a4a3"]]},{"id":"a083d5fb7438a4a3","type":"change","z":"1d28ab40a18bec3b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"line_selected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1580,"wires":[["a4e0e680e12ddcfe"]]},{"id":"8684a73caa8176d0","type":"link in","z":"1d28ab40a18bec3b","name":"link in 3","links":["b301f3ccf22df2b1","d41ee0911aff57df"],"x":275,"y":1240,"wires":[["d13c3fadc73ae48b"]]},{"id":"b301f3ccf22df2b1","type":"link out","z":"1d28ab40a18bec3b","name":"link out 1","mode":"link","links":["8684a73caa8176d0"],"x":815,"y":1440,"wires":[]},{"id":"ea277da4c10e9a2a","type":"ui_button","z":"1d28ab40a18bec3b","name":"","group":"d0ce65ddaf752a43","order":4,"width":3,"height":1,"passthru":false,"label":"Update Lamps","tooltip":"","color":"","bgcolor":"","className":"","icon":"update","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":320,"wires":[["71c002c29a4860ea"]]},{"id":"71c002c29a4860ea","type":"http request","z":"1d28ab40a18bec3b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://0.0.0.0:8080/test/lamps","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":280,"y":320,"wires":[["d054d737c4168ce1"]]},{"id":"3e1e8eaa7a6da023","type":"ui_dropdown","z":"1d28ab40a18bec3b","name":"","label":"","tooltip":"","place":"Select option","group":"d0ce65ddaf752a43","order":2,"width":9,"height":1,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":700,"y":320,"wires":[["8cef0f35ea90d7b7"]]},{"id":"d054d737c4168ce1","type":"change","z":"1d28ab40a18bec3b","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":320,"wires":[["3e1e8eaa7a6da023"]]},{"id":"8cef0f35ea90d7b7","type":"function","z":"1d28ab40a18bec3b","name":"function 15","func":"var dict=flow.get(\"obj\")||{\"id_Lamp\":\"\", \n    \"time\" :\"00:00\",\n    \"weekdays\": [],   \n    \"action\": \"\"}\n\ndict.id_Lamp =msg.payload\nflow.set(\"obj\", dict)\nmsg.payload = dict\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":320,"wires":[["f238a067a40dcad2"]]},{"id":"82d9fd502fa7e809","type":"ui_text","z":"1d28ab40a18bec3b","group":"","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":130,"y":60,"wires":[]},{"id":"a52e2a51d4e4ef60","type":"function","z":"d9d2f214529d33da","name":"function 16","func":"var passport = flow.get('passportNumber');  // Get selected sensor type from flow context\nvar deviceSelected = flow.get('deviceSelected');\n\nlet address = global.get(\"urlThingspeak\");  // Retrieve the global variable\nmsg.url = address + `thingspeak?device_id=${deviceSelected}`;  \n\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":800,"wires":[["2e17a468fe637fea"]]},{"id":"137cec9c2d435d20","type":"ui_button","z":"d9d2f214529d33da","name":"","group":"2b4dbe26a6e761bf","order":12,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"payload","topicType":"msg","x":80,"y":980,"wires":[["d55fac367b3e943c"]]},{"id":"2e17a468fe637fea","type":"http request","z":"d9d2f214529d33da","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":340,"y":800,"wires":[["228b2bc55f5da57f","b64e4f589d33e6f7"]]},{"id":"e02036dcc84a3986","type":"function","z":"d9d2f214529d33da","name":"function 17","func":"if (!Array.isArray(msg.payload)) {\n    node.warn(\"Bad data inject: msg.payload is not an array.\");\n    return null;\n}\n\n// Convert data to the expected format\nmsg.payload = [{\n    series: [\"Sensor Data\"],\n    data: [\n        msg.payload.map(point => ({\n            x: new Date(point.created_at).getTime(), // Convert to Unix timestamp (ms)\n            y: parseFloat(point.value) // Ensure `y` is a float\n        }))\n    ],\n    labels: [] // No labels needed\n}];\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":980,"wires":[["db7c758dbd0edad9"]]},{"id":"db7c758dbd0edad9","type":"ui_chart","z":"d9d2f214529d33da","name":"teste","group":"2b4dbe26a6e761bf","order":13,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#0f5180","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":630,"y":980,"wires":[[]]},{"id":"1fb27263a45d6d19","type":"debug","z":"d9d2f214529d33da","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":880,"wires":[]},{"id":"acc66dd1ea52f5e2","type":"debug","z":"d9d2f214529d33da","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":800,"wires":[]},{"id":"eac28a2d1bae6159","type":"ui_text_input","z":"d9d2f214529d33da","name":"","label":"Digit a Number of passport","tooltip":"","group":"2b4dbe26a6e761bf","order":1,"width":5,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":160,"y":80,"wires":[["c46120c0d8f387aa"]]},{"id":"6b777098c10ff124","type":"function","z":"d9d2f214529d33da","name":"function 32","func":"var passport = flow.get('passportNumber');  // Get selected sensor type from flow context\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + `patient?passport_code=${passport}`;  \n\nreturn msg;  // Return the message to the next node","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":500,"wires":[["18780e04311ffe91"]]},{"id":"bafaf4e35d8853ae","type":"ui_button","z":"d9d2f214529d33da","name":"","group":"2b4dbe26a6e761bf","order":2,"width":2,"height":1,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":500,"wires":[["6b777098c10ff124"]]},{"id":"18780e04311ffe91","type":"http request","z":"d9d2f214529d33da","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":500,"wires":[["be051d7dfecaca50","4723f083d3548e0d"]]},{"id":"c46120c0d8f387aa","type":"change","z":"d9d2f214529d33da","name":"","rules":[{"t":"set","p":"passportNumber","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":80,"wires":[[]]},{"id":"be051d7dfecaca50","type":"function","z":"d9d2f214529d33da","name":"function 33","func":"var patient = msg.payload?.[0]?.patient_id;  // extract patient_id\n\nflow.set(\"patientInformation\", msg.payload?.[0]);\nlet  urlDBconnector = global.get(\"urlDBconnector\");  // Retrieve the global variable\n\nif (patient !== undefined) {\n    flow.set(\"patient_id\", patient);  // Store in flow variable\n    msg.url = urlDBconnector + `device?patient_id=${patient}`;  \n    msg.patient_id = patient;  // Add patient_id to msg for  use\n} else {\n    node.warn(\"patient_id not found in payload\");\n    msg.url = null;\n    msg.patient_id = null;  // Ensure msg.patient_id is always set\n}\n\nreturn msg;\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":500,"wires":[["b066c8b588ae57d3"]]},{"id":"a19adb663ff7fb2a","type":"http request","z":"d9d2f214529d33da","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":940,"y":440,"wires":[["22a8b238bad1454e","48ee571e0bceb64c"]]},{"id":"48ee571e0bceb64c","type":"debug","z":"d9d2f214529d33da","name":"debug 66","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":340,"wires":[]},{"id":"372f2b94d716404b","type":"ui_dropdown","z":"d9d2f214529d33da","name":"","label":"","tooltip":"","place":"Select option","group":"2b4dbe26a6e761bf","order":10,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"options","topicType":"msg","className":"","x":1360,"y":440,"wires":[["084e12f3338ae765","c624f8f3c94eceba","4f91abf893b7d8e2"]]},{"id":"22a8b238bad1454e","type":"function","z":"d9d2f214529d33da","name":"function 35","func":"// Ensure msg.payload is an array\nif (!Array.isArray(msg.payload)) {\n    return null; // Stop if data is not in expected format\n}\n\n// Format data dropdown\nmsg.options = msg.payload.map(item => ({\n    [item.device_name]: item.device_id  \n}));\n\n\n\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1150,"y":440,"wires":[["372f2b94d716404b"]]},{"id":"084e12f3338ae765","type":"debug","z":"d9d2f214529d33da","name":"debug 67","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1540,"y":440,"wires":[]},{"id":"a358afa91172fcd7","type":"change","z":"d9d2f214529d33da","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":560,"wires":[["7a4b4325cea85d1e"]]},{"id":"7a4b4325cea85d1e","type":"ui_toast","z":"d9d2f214529d33da","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Passport not found","name":"","x":1190,"y":560,"wires":[]},{"id":"b066c8b588ae57d3","type":"switch","z":"d9d2f214529d33da","name":"","property":"url","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":500,"wires":[["a19adb663ff7fb2a"],["a358afa91172fcd7"]]},{"id":"c624f8f3c94eceba","type":"change","z":"d9d2f214529d33da","name":"","rules":[{"t":"set","p":"deviceSelected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":520,"wires":[[]]},{"id":"228b2bc55f5da57f","type":"function","z":"d9d2f214529d33da","name":"function 36","func":"// Ensure the payload structure is correct\nif (!Array.isArray(msg.payload) || msg.payload.length === 0 || !msg.payload[0].Sensors) {\n    return null; // Stop if data is not in expected format\n}\n\n// Extract sensors from the first device (assuming only one device in payload)\nlet sensors = msg.payload[0].Sensors;\n\n// Format data correctly for the dropdown\nmsg.options = sensors.map((sensor, index) => ({\n    [sensor.Name]: index // Using index as value, can change if needed\n}));\n\n\n\nreturn msg;\n\n\n\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":800,"wires":[["6340e7658674e23d","35d8a64e13d92ea3"]]},{"id":"6340e7658674e23d","type":"ui_dropdown","z":"d9d2f214529d33da","name":"","label":"","tooltip":"","place":"Select option","group":"2b4dbe26a6e761bf","order":11,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"options","topicType":"msg","className":"","x":760,"y":800,"wires":[["acc66dd1ea52f5e2","77cfedda02471cb4"]]},{"id":"ae95b4ca0e933e8f","type":"link in","z":"d9d2f214529d33da","name":"link in Device","links":["4f91abf893b7d8e2"],"x":35,"y":800,"wires":[["a52e2a51d4e4ef60"]]},{"id":"4f91abf893b7d8e2","type":"link out","z":"d9d2f214529d33da","name":"link out Device","mode":"link","links":["ae95b4ca0e933e8f"],"x":1505,"y":360,"wires":[]},{"id":"b64e4f589d33e6f7","type":"debug","z":"d9d2f214529d33da","name":"debug 68","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":420,"y":700,"wires":[]},{"id":"1fda2d9b42ade85c","type":"debug","z":"d9d2f214529d33da","name":"debug 69","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":660,"wires":[]},{"id":"35d8a64e13d92ea3","type":"function","z":"d9d2f214529d33da","name":"function 37","func":"\n// Extract sensors array\nlet sensors = msg.payload[0].Sensors;\n\n// Store it in a flow variable\nflow.set(\"sensors\", sensors);\n\n// Pass the message forward (optional)\nmsg.payload = sensors;\nreturn msg;\n\n\n\n\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":640,"wires":[["1fda2d9b42ade85c"]]},{"id":"77cfedda02471cb4","type":"change","z":"d9d2f214529d33da","name":"","rules":[{"t":"set","p":"indexSensor","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":740,"wires":[[]]},{"id":"d55fac367b3e943c","type":"function","z":"d9d2f214529d33da","name":"function 39","func":"// Ensure flow.sensors and flow.indexSensor are correctly set\nlet sensors = flow.get('sensors');\nlet indexSensor = flow.get('indexSensor');\n\nif (Array.isArray(sensors) && sensors.length > 0 && indexSensor !== undefined && indexSensor >= 0 && indexSensor < sensors.length) {\n    let selectedSensor = sensors[indexSensor];\n    \n    // Ensure selectedSensor contains values\n    if (selectedSensor && selectedSensor.Values && Array.isArray(selectedSensor.Values)) {\n        msg.payload = selectedSensor.Values;  // This contains the values of the selected sensor\n    } else {\n        node.warn(\"Selected sensor has no values or invalid format.\");\n        msg.payload = [];\n    }\n} else {\n    node.warn(\"Invalid sensor index or sensors array.\");\n    msg.payload = [];\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":980,"wires":[["e02036dcc84a3986","1fb27263a45d6d19","5206705f8a320b3e"]]},{"id":"5206705f8a320b3e","type":"ui_table","z":"d9d2f214529d33da","group":"2b4dbe26a6e761bf","name":"","order":14,"width":12,"height":4,"columns":[{"field":"created_at","title":"created_at","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"value","title":"value","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":450,"y":1060,"wires":[]},{"id":"99f466d74f97d57c","type":"ui_text","z":"d9d2f214529d33da","group":"2b4dbe26a6e761bf","order":4,"width":4,"height":1,"name":"","label":"Patient: ","format":"{{msg.payload.name}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"11","color":"#000000","x":660,"y":320,"wires":[]},{"id":"4723f083d3548e0d","type":"function","z":"d9d2f214529d33da","name":"function 40","func":"var patient = msg.payload?.[0]?.patient_id;  // extract patient_id\n\n;\nmsg.payload =msg.payload?.[0]//?.name\n\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":380,"wires":[["99f466d74f97d57c","9ec479d5bf4cdde8","d6ed9d453a70b0d7"]]},{"id":"9ec479d5bf4cdde8","type":"ui_text","z":"d9d2f214529d33da","group":"2b4dbe26a6e761bf","order":8,"width":4,"height":1,"name":"","label":"Address: ","format":"{{msg.payload.address}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"11","color":"#000000","x":660,"y":360,"wires":[]},{"id":"d6ed9d453a70b0d7","type":"ui_text","z":"d9d2f214529d33da","group":"2b4dbe26a6e761bf","order":6,"width":4,"height":1,"name":"","label":"Emergency Contact: ","format":"{{msg.payload.emergency_contact}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"11","color":"#000000","x":680,"y":420,"wires":[]},{"id":"67cf570fa5051b26","type":"ui_button","z":"d9d2f214529d33da","name":"","group":"6b8957b1f20f0f88","order":12,"width":6,"height":1,"passthru":false,"label":"Analyse","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":1860,"wires":[["df1adfa4fdb821c3"]]},{"id":"17a557ae05fc7a32","type":"http request","z":"d9d2f214529d33da","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":460,"y":1860,"wires":[["975d7e8a4f467e55","29cf0d37ed5f4b20","10f7af84a3ed5661","07c21855d20f25fa"]]},{"id":"df1adfa4fdb821c3","type":"function","z":"d9d2f214529d33da","name":"function 42","func":"\nvar passport = flow.get('passportNumber');  // Get selected sensor type from flow context\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + `analysis?passport_code=${passport}`;  \nreturn msg;  // Return the message to the next node\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1860,"wires":[["17a557ae05fc7a32"]]},{"id":"975d7e8a4f467e55","type":"ui_text","z":"d9d2f214529d33da","group":"6b8957b1f20f0f88","order":15,"width":6,"height":1,"name":"status","label":"Health Analysis:","format":"{{msg.payload.status}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"25","color":"#000000","x":690,"y":1760,"wires":[]},{"id":"71503649d1f12dd9","type":"ui_text_input","z":"d9d2f214529d33da","name":"","label":"Digit a Number of passport","tooltip":"","group":"6b8957b1f20f0f88","order":2,"width":7,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":140,"y":1680,"wires":[["493f5a21453b17ba"]]},{"id":"493f5a21453b17ba","type":"change","z":"d9d2f214529d33da","name":"","rules":[{"t":"set","p":"passportNumber","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":1680,"wires":[[]]},{"id":"29cf0d37ed5f4b20","type":"ui_text","z":"d9d2f214529d33da","group":"6b8957b1f20f0f88","order":21,"width":6,"height":1,"name":"Blood Pressure","label":"Blood Pressure:","format":"{{msg.payload.bloodPressure}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"25","color":"#000000","x":720,"y":1820,"wires":[]},{"id":"10f7af84a3ed5661","type":"ui_text","z":"d9d2f214529d33da","group":"6b8957b1f20f0f88","order":18,"width":6,"height":1,"name":"Temperature","label":"Temperature:","format":"{{msg.payload.temperature}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"25","color":"#000000","x":710,"y":1880,"wires":[]},{"id":"07c21855d20f25fa","type":"ui_text","z":"d9d2f214529d33da","group":"6b8957b1f20f0f88","order":24,"width":6,"height":1,"name":"HeartRate","label":"Heart Rate:","format":"{{msg.payload.heartRate}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"25","color":"#000000","x":710,"y":1980,"wires":[]},{"id":"cecc4be537ec11d9","type":"function","z":"d9d2f214529d33da","name":"function 43","func":"var passport = flow.get('passportNumber');  // Get selected sensor type from flow context\n\nlet urlDBconnector = global.get(\"urlThingspeak\");  // Retrieve the global variable\nmsg.url = urlDBconnector + `patient?passport_code=${passport}`;  \n\nreturn msg;  // Return the message to the next node\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1320,"wires":[["abb0b5d235e319c8"]]},{"id":"fe09fe3e60e6a6c6","type":"ui_button","z":"d9d2f214529d33da","name":"","group":"6b8957b1f20f0f88","order":4,"width":3,"height":1,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":1320,"wires":[["cecc4be537ec11d9"]]},{"id":"abb0b5d235e319c8","type":"http request","z":"d9d2f214529d33da","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":460,"y":1320,"wires":[["95864ecc87e59aa7","ecf30c552f312877"]]},{"id":"c8a1accaf93d70a3","type":"change","z":"d9d2f214529d33da","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1360,"wires":[["f3348ad892c0f414"]]},{"id":"f3348ad892c0f414","type":"ui_toast","z":"d9d2f214529d33da","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Passport not found","name":"","x":1170,"y":1360,"wires":[]},{"id":"95864ecc87e59aa7","type":"switch","z":"d9d2f214529d33da","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"empty"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":1320,"wires":[["2378a9b5e3935e1c"],["c8a1accaf93d70a3"]]},{"id":"a5cc9dc52c83886f","type":"ui_text","z":"d9d2f214529d33da","group":"6b8957b1f20f0f88","order":5,"width":7,"height":1,"name":"","label":"Patient: ","format":"{{msg.payload.name}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"18","color":"#000000","x":820,"y":1140,"wires":[]},{"id":"2378a9b5e3935e1c","type":"function","z":"d9d2f214529d33da","name":"function 46","func":"var patient = msg.payload?.[0]?.patient_id;  // extract patient_id\n\n;\nmsg.payload =msg.payload?.[0]//?.name\n\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1200,"wires":[["a5cc9dc52c83886f","8b4d58243f763591","ed1ad9728243c547"]]},{"id":"8b4d58243f763591","type":"ui_text","z":"d9d2f214529d33da","group":"6b8957b1f20f0f88","order":9,"width":7,"height":1,"name":"","label":"Address: ","format":"{{msg.payload.address}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"18","color":"#000000","x":820,"y":1180,"wires":[]},{"id":"ed1ad9728243c547","type":"ui_text","z":"d9d2f214529d33da","group":"6b8957b1f20f0f88","order":7,"width":7,"height":1,"name":"","label":"Emergency Contact: ","format":"{{msg.payload.emergency_contact}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"18","color":"#000000","x":860,"y":1240,"wires":[]},{"id":"ecf30c552f312877","type":"debug","z":"d9d2f214529d33da","name":"debug 76","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":1500,"wires":[]},{"id":"ce9c9d28934efb7c","type":"ui_text","z":"d9d2f214529d33da","group":"1ca872d52c8280c0","order":1,"width":0,"height":0,"name":"","label":"Search for the Patience you want to Analyse","format":"{{msg.payload}}","layout":"row-left","className":"h1 {     font-family: 'Poppins', sans-serif;     font-size: 32px;     font-weight: 700;     text-align: center;     color: #1E3A8A;     text-transform: capitalize;     border-bottom: 3px solid #1E3A8A;     padding-bottom: 10px;     margin-bottom: 20px; }","style":true,"font":"","fontSize":"30","color":"#000000","x":430,"y":1560,"wires":[]},{"id":"2e528f9b536be2e4","type":"ui_template","z":"d9d2f214529d33da","group":"6b8957b1f20f0f88","name":"","order":1,"width":11,"height":2,"format":"<div class=\"title-container\">\n    <h1> Search for the Patience You Want to Analyse</h1>\n</div>\n\n<style>\n    .title-container {\n        text-align: center;\n        padding: 15px;\n        background: linear-gradient(135deg, #007BFF, #00C6FF);\n        border-radius: 12px;\n        box-shadow: 0px 4px 10px rgba(0, 0, 0, \n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":120,"y":1560,"wires":[[]]},{"id":"18fec0f7311e9d4b","type":"ui_button","z":"34f22b05cbd58727","name":"","group":"15b2ee992a3f674e","order":19,"width":13,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":2600,"wires":[["c4b50741be5a9b91"]]},{"id":"c4b50741be5a9b91","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Home\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":2600,"wires":[["f1f2177839589d69"]]},{"id":"f1f2177839589d69","type":"ui_ui_control","z":"34f22b05cbd58727","name":"home screen","events":"all","x":510,"y":2600,"wires":[[]]},{"id":"4f228d04d0e12227","type":"ui_toast","z":"34f22b05cbd58727","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Do you want to  edit this Entity?","name":"","x":570,"y":1720,"wires":[["e98467362a549bc3"]]},{"id":"e98467362a549bc3","type":"switch","z":"34f22b05cbd58727","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":1760,"wires":[["a2ac77cf04c6acd7"],["d07f69af1f30aa8d"]]},{"id":"a2ac77cf04c6acd7","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceSelected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":1660,"wires":[["ddb1c76d1910a356","faf50b5c09fd4295","1ad3a433dd0e00bf"]]},{"id":"6eb52f59352712aa","type":"link out","z":"34f22b05cbd58727","name":"link out Edit device","mode":"link","links":["399a2fd8cdc166ba"],"x":1625,"y":1840,"wires":[]},{"id":"ddb1c76d1910a356","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Add Entity\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":1660,"wires":[["3b49699b2eac492b"]]},{"id":"3b49699b2eac492b","type":"ui_ui_control","z":"34f22b05cbd58727","name":"Add Entity","events":"all","x":1390,"y":1660,"wires":[[]]},{"id":"f3d88a7c01f6e2bf","type":"ui_button","z":"34f22b05cbd58727","name":"","group":"15b2ee992a3f674e","order":14,"width":3,"height":1,"passthru":false,"label":"Add New Entity","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":1640,"wires":[["0cdd16d32f9c4fb4"]]},{"id":"0cdd16d32f9c4fb4","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Add Entity\"}","tot":"json"},{"t":"set","p":"method","pt":"flow","to":"POST","tot":"str"},{"t":"set","p":"deviceSelected","pt":"flow","to":"{\"name\":\"\",\"address\":\"\",\"emergency_contact\":\"\",\"passport_code\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1640,"wires":[["aefe6ef9174f9b78","c878927fbad3c7cc"]]},{"id":"aefe6ef9174f9b78","type":"ui_ui_control","z":"34f22b05cbd58727","name":"Add Entity","events":"all","x":570,"y":1600,"wires":[[]]},{"id":"7a5ab4aa5c4d5091","type":"ui_button","z":"34f22b05cbd58727","name":"","group":"15b2ee992a3f674e","order":18,"width":3,"height":1,"passthru":false,"label":"Edit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":1760,"wires":[["7c12f81947bba66a"]]},{"id":"7c12f81947bba66a","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"},{"t":"set","p":"method","pt":"flow","to":"PUT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1760,"wires":[["40cfe69c62db2c40"]]},{"id":"d07f69af1f30aa8d","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"deviceSelected","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":1920,"wires":[[]]},{"id":"40cfe69c62db2c40","type":"switch","z":"34f22b05cbd58727","name":"","property":"deviceSelected","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1760,"wires":[["4f228d04d0e12227"],["c3fb8f7fe023b711"]]},{"id":"c3fb8f7fe023b711","type":"ui_toast","z":"34f22b05cbd58727","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"You should Select a line","name":"","x":550,"y":1960,"wires":[]},{"id":"c878927fbad3c7cc","type":"link out","z":"34f22b05cbd58727","name":"link out 10","mode":"link","links":["37a164f141f4e14d"],"x":455,"y":1660,"wires":[]},{"id":"fe0923be9126d7aa","type":"ui_button","z":"34f22b05cbd58727","name":"","group":"5957570cb6c084d1","order":4,"width":6,"height":1,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":2680,"wires":[["7e8ee7f92d5ff1a0"]]},{"id":"7e8ee7f92d5ff1a0","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Entity\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":2680,"wires":[["2552e94519db23b0"]]},{"id":"2552e94519db23b0","type":"ui_ui_control","z":"34f22b05cbd58727","name":"Device","events":"all","x":510,"y":2680,"wires":[[]]},{"id":"e698768cacd4c5c3","type":"ui_text_input","z":"34f22b05cbd58727","name":"","label":"Digit a Number of passport","tooltip":"","group":"15b2ee992a3f674e","order":1,"width":9,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":280,"y":100,"wires":[["9b3f167b48aeddb0"]]},{"id":"9b3f167b48aeddb0","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"passportNumber","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":100,"wires":[[]]},{"id":"e82ab2091750681c","type":"function","z":"34f22b05cbd58727","name":"function 62","func":"var passport = flow.get('passportNumber');  // Get selected sensor type from flow context\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + `patient?passport_code=${passport}`;  \n\nreturn msg;  // Return the message to the next node","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":360,"wires":[["10ae046b75915232"]]},{"id":"d2b3f2bb9eea4e2a","type":"ui_button","z":"34f22b05cbd58727","name":"","group":"15b2ee992a3f674e","order":2,"width":3,"height":1,"passthru":false,"label":"Search","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":360,"wires":[["e82ab2091750681c"]]},{"id":"10ae046b75915232","type":"http request","z":"34f22b05cbd58727","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":420,"y":360,"wires":[["acfb80a09cf9386b","177356cfcade864a"]]},{"id":"acfb80a09cf9386b","type":"function","z":"34f22b05cbd58727","name":"function 63","func":"var patient = msg.payload?.[0]?.patient_id;  // extract patient_id\nflow.set(\"patient_id\", msg.payload?.[0]);\n\nflow.set(\"patientInformation\", msg.payload?.[0]);\nlet  urlDBconnector = global.get(\"urlDBconnector\");  // Retrieve the global variable\n\nif (patient !== undefined) {\n    flow.set(\"patient_id\", patient);  // Store in flow variable\n    msg.url = urlDBconnector + `device?patient_id=${patient}`;  \n    msg.patient_id = patient;  // Add patient_id to msg for  use\n} else {\n    node.warn(\"patient_id not found in payload\");\n    msg.url = null;\n    msg.patient_id = null;  // Ensure msg.patient_id is always set\n}\n\nreturn msg;\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":360,"wires":[["368a13568202384b"]]},{"id":"afbd634dc3e5c977","type":"http request","z":"34f22b05cbd58727","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":960,"y":300,"wires":[["796496d05e3c1ebb","c9202ca9077eb5f3"]]},{"id":"c9202ca9077eb5f3","type":"debug","z":"34f22b05cbd58727","name":"debug 99","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":200,"wires":[]},{"id":"b9d581533a0da49b","type":"ui_dropdown","z":"34f22b05cbd58727","name":"","label":"","tooltip":"","place":"Select option","group":"15b2ee992a3f674e","order":11,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"options","topicType":"msg","className":"","x":1380,"y":300,"wires":[["2376224d50ca8aee","579c63ebf2663e4b","aba9dfae107bdafc"]]},{"id":"796496d05e3c1ebb","type":"function","z":"34f22b05cbd58727","name":"function 64","func":"// Ensure msg.payload is an array\nif (!Array.isArray(msg.payload)) {\n    return null; // Stop if data is not in expected format\n}\n\n// Format data dropdown\nmsg.options = msg.payload.map(item => ({\n    [item.device_name]: item.device_id  \n}));\n\n\n\nreturn msg;\n\n\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":300,"wires":[["b9d581533a0da49b"]]},{"id":"2376224d50ca8aee","type":"debug","z":"34f22b05cbd58727","name":"debug 100","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1560,"y":300,"wires":[]},{"id":"f79757495bf3ab32","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":420,"wires":[["9f4d55c46eb958fb"]]},{"id":"9f4d55c46eb958fb","type":"ui_toast","z":"34f22b05cbd58727","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"Passport not found","name":"","x":1210,"y":420,"wires":[]},{"id":"368a13568202384b","type":"switch","z":"34f22b05cbd58727","name":"","property":"url","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":360,"wires":[["afbd634dc3e5c977"],["f79757495bf3ab32"]]},{"id":"579c63ebf2663e4b","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"device_id","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":380,"wires":[[]]},{"id":"aba9dfae107bdafc","type":"link out","z":"34f22b05cbd58727","name":"link out entityDropdown","mode":"link","links":["11d06c19a159230e"],"x":1525,"y":220,"wires":[]},{"id":"979a257f605fd3e6","type":"ui_text","z":"34f22b05cbd58727","group":"15b2ee992a3f674e","order":4,"width":9,"height":1,"name":"","label":"Patient: ","format":"{{msg.payload.name}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"11","color":"#000000","x":680,"y":180,"wires":[]},{"id":"177356cfcade864a","type":"function","z":"34f22b05cbd58727","name":"function 65","func":"var patient = msg.payload?.[0]?.patient_id;  // extract patient_id\n\n;\nmsg.payload =msg.payload?.[0]//?.name\n\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":240,"wires":[["979a257f605fd3e6","77d1377efc7877c6","d9d7d9699e7d6fc0"]]},{"id":"77d1377efc7877c6","type":"ui_text","z":"34f22b05cbd58727","group":"15b2ee992a3f674e","order":6,"width":9,"height":1,"name":"","label":"Address: ","format":"{{msg.payload.address}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"11","color":"#000000","x":680,"y":220,"wires":[]},{"id":"d9d7d9699e7d6fc0","type":"ui_text","z":"34f22b05cbd58727","group":"15b2ee992a3f674e","order":8,"width":9,"height":1,"name":"","label":"Emergency Contact: ","format":"{{msg.payload.emergency_contact}}","layout":"row-left","className":"","style":true,"font":"","fontSize":"11","color":"#000000","x":700,"y":280,"wires":[]},{"id":"f36b2e011603b8dd","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"deviceSelected","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"entity_id","pt":"flow","to":"payload.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":580,"wires":[["df5f4640a7b15d23"]]},{"id":"c0247f12b926e12c","type":"debug","z":"34f22b05cbd58727","name":"debug 101","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":660,"wires":[]},{"id":"25c30ce5ac043af5","type":"ui_table","z":"34f22b05cbd58727","group":"15b2ee992a3f674e","name":"","order":13,"width":13,"height":4,"columns":[{"field":"entity_name","title":"Device Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"entity_type","title":"Mac Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"last_reading","title":"last_reading","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"last_reading_timestamp","title":"Timestamp","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"is_active","title":"is_active","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":650,"y":580,"wires":[["f36b2e011603b8dd"]]},{"id":"855ca1bf930bac59","type":"http request","z":"34f22b05cbd58727","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":600,"wires":[["c0247f12b926e12c","25c30ce5ac043af5","74634fb79ee1a9b1"]]},{"id":"f6102ed24eb102bc","type":"function","z":"34f22b05cbd58727","name":"function 67","func":"\nvar device_id= flow.get(\"device_id\");\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\n\nif (device_id !== undefined) {\n    msg.url = address + `entity?device_id=${device_id}`;  \n    msg.method ='GET'; \n} else {\n    node.warn(\"device_id not found in payload\");\n    msg.url = null;\n \n}\n\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":600,"wires":[["855ca1bf930bac59","8c1ef90cade02fe7"]]},{"id":"df5f4640a7b15d23","type":"debug","z":"34f22b05cbd58727","name":"debug 102","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.device_id","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":580,"wires":[]},{"id":"11d06c19a159230e","type":"link in","z":"34f22b05cbd58727","name":"link in EntityTable","links":["aba9dfae107bdafc"],"x":45,"y":600,"wires":[["f6102ed24eb102bc"]]},{"id":"6925f656947efe63","type":"http request","z":"34f22b05cbd58727","name":"","method":"use","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":520,"y":1000,"wires":[["8a895d4fb5db25a7","7f277ed179cb2f43"]]},{"id":"955b4d35d6f5d773","type":"ui_form","z":"34f22b05cbd58727","name":"","label":"","group":"5957570cb6c084d1","order":2,"width":0,"height":0,"options":[{"label":"entity_name","value":"entity_name","type":"text","required":true,"rows":null},{"label":"is_active","value":"is_active","type":"switch","required":true,"rows":null}],"formValue":{"entity_name":"","is_active":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":170,"y":920,"wires":[["7705f28a4c774bdc","f9cb1801a61e9ac8"]]},{"id":"fe4db56568261c5b","type":"debug","z":"34f22b05cbd58727","name":"debug 103","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1300,"wires":[]},{"id":"c0571dbcdb28b1e0","type":"ui_toast","z":"34f22b05cbd58727","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Do you want to  confirm?","name":"","x":790,"y":1300,"wires":[["fe4db56568261c5b","a0c0f921ad52c084"]]},{"id":"8a895d4fb5db25a7","type":"switch","z":"34f22b05cbd58727","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1040,"wires":[["297109167af360f6"],["45851468832e4da0"]]},{"id":"87a825ba23ecd541","type":"ui_toast","z":"34f22b05cbd58727","position":"bottom right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1210,"y":940,"wires":[]},{"id":"1e91cb32ef032795","type":"debug","z":"34f22b05cbd58727","name":"debug 104","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":1020,"wires":[]},{"id":"874b6be97e3c2623","type":"inject","z":"34f22b05cbd58727","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"object","payloadType":"date","x":300,"y":1180,"wires":[["6925f656947efe63"]]},{"id":"297109167af360f6","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":940,"wires":[["87a825ba23ecd541"]]},{"id":"45851468832e4da0","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1300,"wires":[["c0571dbcdb28b1e0"]]},{"id":"fd48289aee7e0639","type":"ui_ui_control","z":"34f22b05cbd58727","name":"Entity","events":"all","x":1490,"y":1080,"wires":[[]]},{"id":"6cdde909bcf5b4ef","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Entity\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1260,"wires":[["fd48289aee7e0639","1e91cb32ef032795"]]},{"id":"ca7a2d4beaaa3057","type":"debug","z":"34f22b05cbd58727","name":"debug 105","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":1080,"wires":[]},{"id":"a0c0f921ad52c084","type":"switch","z":"34f22b05cbd58727","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1220,"wires":[["ca7a2d4beaaa3057","6cdde909bcf5b4ef","c4d0c0d551f355de"]]},{"id":"399a2fd8cdc166ba","type":"link in","z":"34f22b05cbd58727","name":"link in Addform","links":["6eb52f59352712aa","d41ee0911aff57df"],"x":65,"y":920,"wires":[["955b4d35d6f5d773"]]},{"id":"3cebf2e1e51d15f9","type":"debug","z":"34f22b05cbd58727","name":"debug 106","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":880,"wires":[]},{"id":"7705f28a4c774bdc","type":"function","z":"34f22b05cbd58727","name":"function 68","func":"if (msg.payload && msg.payload.hasOwnProperty(\"is_active\")) {\n    msg.payload[\"is_active\"] = msg.payload[\"is_active\"] ? 1 : 0;\n}\n\nvar entity_id = flow.get(\"entity_id\");\n\nmsg.payload.device_id = flow.get('device_id');//create device_id\n\nmsg.payload.entity_type =  flow.get('entity_type');\n\nmsg.method = flow.get('method') || \"POST\";\nnode.warn(entity_id);\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\n\n\n\nif (msg.method === \"PUT\") {\n    msg.url = address + `entity?entity_id=${entity_id}`;  \n\n} else {\n    \n    msg.url = address + `entity`;  \n\n}\n\nnode.warn(`Method: ${msg.method}, URL: ${msg.url}`);\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":920,"wires":[["6925f656947efe63","3cebf2e1e51d15f9"]]},{"id":"7f277ed179cb2f43","type":"debug","z":"34f22b05cbd58727","name":"debug 107","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":940,"wires":[]},{"id":"c4d0c0d551f355de","type":"link out","z":"34f22b05cbd58727","name":"link out  EntityTable","mode":"link","links":["bc9d97852c2cb178"],"x":1245,"y":1180,"wires":[]},{"id":"1fe682ba3373620f","type":"ui_button","z":"34f22b05cbd58727","name":"","group":"fe8dc837cefb9493","order":1,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":1480,"wires":[["9e204811e52c6887"]]},{"id":"9e204811e52c6887","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Device\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1480,"wires":[["ebd68239b4e93f47"]]},{"id":"ebd68239b4e93f47","type":"ui_ui_control","z":"34f22b05cbd58727","name":"Device","events":"all","x":590,"y":1480,"wires":[[]]},{"id":"f9cb1801a61e9ac8","type":"debug","z":"34f22b05cbd58727","name":"debug 108","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":800,"wires":[]},{"id":"74634fb79ee1a9b1","type":"debug","z":"34f22b05cbd58727","name":"debug 109","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":480,"wires":[]},{"id":"faf50b5c09fd4295","type":"debug","z":"34f22b05cbd58727","name":"debug 110","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":1560,"wires":[]},{"id":"bc743588720ea2bf","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload.is_active","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1780,"wires":[["6eb52f59352712aa"]]},{"id":"1ad3a433dd0e00bf","type":"switch","z":"34f22b05cbd58727","name":"","property":"payload.is_active","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":1800,"wires":[["bc743588720ea2bf"],["0aa6f229876ede34"]]},{"id":"0aa6f229876ede34","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload.is_active","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1860,"wires":[["6eb52f59352712aa"]]},{"id":"bc9d97852c2cb178","type":"link in","z":"34f22b05cbd58727","name":"link in Update","links":["c4d0c0d551f355de","6c1c1c50fdd8c5ff"],"x":45,"y":480,"wires":[["f6102ed24eb102bc"]]},{"id":"8c1ef90cade02fe7","type":"debug","z":"34f22b05cbd58727","name":"debug 111","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":390,"y":480,"wires":[]},{"id":"f27b232f53c758b8","type":"ui_dropdown","z":"34f22b05cbd58727","name":"","label":"","tooltip":"","place":"Select option","group":"5957570cb6c084d1","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Sensor","value":"sensor","type":"str"},{"label":"Actuator","value":"actuator","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":100,"y":780,"wires":[["3e4942966327e159"]]},{"id":"3e4942966327e159","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"entity_type","pt":"flow","to":"msg.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":780,"wires":[[]]},{"id":"1c728975663d8dcc","type":"ui_button","z":"34f22b05cbd58727","name":"","group":"15b2ee992a3f674e","order":16,"width":3,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":2060,"wires":[["e9f2c8524ec0d2c1"]]},{"id":"ee82d796e1d4407c","type":"function","z":"34f22b05cbd58727","name":"function 69","func":"var entity_id = flow.get('entity_id');  // Get selected entity from flow context\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + `entity?entity_id=${entity_id}`;  \n\nnode.warn(entity_id);\nreturn msg;  // Return the message to the next node\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":2260,"wires":[["5363224be6dc5ab6","fe877efc3cce653c","9535ac3ffbf320ff"]]},{"id":"5363224be6dc5ab6","type":"http request","z":"34f22b05cbd58727","name":"","method":"DELETE","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":780,"y":2100,"wires":[["1a8049aa50099686","00d5ec58752bac87"]]},{"id":"fe877efc3cce653c","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceSelected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":2260,"wires":[["1c074979df0f245a"]]},{"id":"9535ac3ffbf320ff","type":"debug","z":"34f22b05cbd58727","name":"debug 112","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":2360,"wires":[]},{"id":"1a8049aa50099686","type":"switch","z":"34f22b05cbd58727","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":2100,"wires":[["02c112b5673077b2"]]},{"id":"ceaad3994951c27c","type":"ui_toast","z":"34f22b05cbd58727","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Deleted sucessfully","name":"","x":1390,"y":2100,"wires":[]},{"id":"02c112b5673077b2","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":2100,"wires":[["ceaad3994951c27c","6c1c1c50fdd8c5ff"]]},{"id":"e9f2c8524ec0d2c1","type":"switch","z":"34f22b05cbd58727","name":"","property":"deviceSelected","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":2240,"wires":[["7b68470e22b6c6be"],["e0fe3e695d39d23d"]]},{"id":"a54c4c184a0dc45a","type":"ui_toast","z":"34f22b05cbd58727","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"You should Select a line fisrt","name":"","x":550,"y":2360,"wires":[]},{"id":"1c074979df0f245a","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"deviceSelected","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1220,"y":2260,"wires":[[]]},{"id":"e0fe3e695d39d23d","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2360,"wires":[["a54c4c184a0dc45a"]]},{"id":"7b68470e22b6c6be","type":"change","z":"34f22b05cbd58727","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2160,"wires":[["a2e75e50c685d41f"]]},{"id":"a2e75e50c685d41f","type":"ui_toast","z":"34f22b05cbd58727","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Are you sure you want delete it?","name":"","x":450,"y":2080,"wires":[["d61465e254375793"]]},{"id":"d61465e254375793","type":"switch","z":"34f22b05cbd58727","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":2260,"wires":[["ee82d796e1d4407c"]]},{"id":"6c1c1c50fdd8c5ff","type":"link out","z":"34f22b05cbd58727","name":"link out 11","mode":"link","links":["bc9d97852c2cb178"],"x":1365,"y":2160,"wires":[]},{"id":"00d5ec58752bac87","type":"debug","z":"34f22b05cbd58727","name":"debug 113","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":2000,"wires":[]},{"id":"47557d0b4866bbfc","type":"http request","z":"e572cadeac508138","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://0.0.0.0:8080/registerPatient","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":140,"wires":[["1b0e80165fbf304b"]]},{"id":"1a1b36a4bcc59075","type":"ui_form","z":"e572cadeac508138","name":"","label":"","group":"","order":6,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":false,"rows":null},{"label":"Address","value":"address","type":"text","required":false,"rows":null},{"label":"Emergency Contact","value":"emergencyContact","type":"text","required":false,"rows":null},{"label":"Password","value":"password","type":"password","required":false,"rows":null}],"formValue":{"name":"","address":"","emergencyContact":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":70,"y":100,"wires":[["099bccd17c04d140"]]},{"id":"099bccd17c04d140","type":"json","z":"e572cadeac508138","name":"","property":"payload","action":"","pretty":false,"x":210,"y":120,"wires":[["47557d0b4866bbfc"]]},{"id":"376c23f91e303d6b","type":"debug","z":"e572cadeac508138","name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":420,"wires":[]},{"id":"676b87363167ccd9","type":"ui_toast","z":"e572cadeac508138","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Do you want to add a Device ?","name":"","x":670,"y":360,"wires":[["376c23f91e303d6b","79a2842bb3f988ea"]]},{"id":"1b0e80165fbf304b","type":"switch","z":"e572cadeac508138","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":140,"wires":[["6b4244aa19c131d1"],["538c29892c59b57a","5223ae277b846600"]]},{"id":"9c90959f6fefa6ca","type":"ui_toast","z":"e572cadeac508138","position":"bottom right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":870,"y":40,"wires":[]},{"id":"538c29892c59b57a","type":"debug","z":"e572cadeac508138","name":"debug 44","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":140,"wires":[]},{"id":"abbb69bc0c85ecfe","type":"inject","z":"e572cadeac508138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"object","payloadType":"date","x":160,"y":240,"wires":[["47557d0b4866bbfc"]]},{"id":"6b4244aa19c131d1","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":40,"wires":[["9c90959f6fefa6ca"]]},{"id":"5223ae277b846600","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"It will be requested  to provide technical informations about  Sensor/actuator","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":280,"wires":[["676b87363167ccd9"]]},{"id":"541d2f3f01b56cee","type":"ui_ui_control","z":"e572cadeac508138","name":"Add Device","events":"all","x":1230,"y":120,"wires":[[]]},{"id":"bb99560cc09ae71e","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Add Device\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":260,"wires":[["541d2f3f01b56cee"]]},{"id":"7e971c9c12d78ccd","type":"debug","z":"e572cadeac508138","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":140,"wires":[]},{"id":"79a2842bb3f988ea","type":"switch","z":"e572cadeac508138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":300,"wires":[["7e971c9c12d78ccd","bb99560cc09ae71e"]]},{"id":"a35b9a01726d4f3a","type":"http request","z":"e572cadeac508138","name":"","method":"use","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":420,"y":620,"wires":[["5f1cd9b984f18c45","fc9f607b6aa7d0cb"]]},{"id":"5931fb775725d6d1","type":"ui_form","z":"e572cadeac508138","name":"","label":"","group":"fe8dc837cefb9493","order":3,"width":0,"height":0,"options":[{"label":"Mac Address","value":"mac_address","type":"text","required":true,"rows":null},{"label":"Device Name","value":"device_name","type":"text","required":true,"rows":null},{"label":"Device Type","value":"device_type","type":"text","required":true,"rows":null},{"label":"Active","value":"is_active","type":"switch","required":true,"rows":null}],"formValue":{"mac_address":"","device_name":"","device_type":"","is_active":false},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":110,"y":540,"wires":[["2f2d83d49112f97c"]]},{"id":"901acb4893c2e539","type":"debug","z":"e572cadeac508138","name":"debug 46","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":920,"wires":[]},{"id":"76c93aaadb9a71bd","type":"ui_toast","z":"e572cadeac508138","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Do you want to  confirm?","name":"","x":710,"y":920,"wires":[["901acb4893c2e539","83a073b9e3715366"]]},{"id":"5f1cd9b984f18c45","type":"switch","z":"e572cadeac508138","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":660,"wires":[["74ce612d41fcde5d"],["5a9cf097e6117aa3","66687051555f2659"]]},{"id":"7b3fdad782a54bcd","type":"ui_toast","z":"e572cadeac508138","position":"bottom right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1110,"y":560,"wires":[]},{"id":"5a9cf097e6117aa3","type":"debug","z":"e572cadeac508138","name":"debug 47","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":740,"wires":[]},{"id":"2adc1fe468f21846","type":"inject","z":"e572cadeac508138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"object","payloadType":"date","x":220,"y":800,"wires":[["a35b9a01726d4f3a"]]},{"id":"74ce612d41fcde5d","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":560,"wires":[["7b3fdad782a54bcd"]]},{"id":"66687051555f2659","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":920,"wires":[["76c93aaadb9a71bd"]]},{"id":"e68ac24168c9831d","type":"ui_ui_control","z":"e572cadeac508138","name":"Device","events":"all","x":1410,"y":700,"wires":[[]]},{"id":"260afabe982ded2b","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Device\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":840,"wires":[["e68ac24168c9831d","d871772fad4bcc5e"]]},{"id":"af4ab9e88f70d8a6","type":"debug","z":"e572cadeac508138","name":"debug 48","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":700,"wires":[]},{"id":"83a073b9e3715366","type":"switch","z":"e572cadeac508138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":890,"y":860,"wires":[["af4ab9e88f70d8a6","260afabe982ded2b"]]},{"id":"445037fb3bbc8a9b","type":"ui_button","z":"e572cadeac508138","name":"","group":"e4cc8096b04ecbd3","order":10,"width":2,"height":1,"passthru":false,"label":"Update ","tooltip":"","color":"","bgcolor":"","className":"","icon":"update","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":1520,"wires":[["8735de26e3f36bcc"]]},{"id":"19eabb5340142dad","type":"ui_toast","z":"e572cadeac508138","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Do you want to  edit this device?","name":"","x":590,"y":1880,"wires":[["202cf4e12fac7e6b"]]},{"id":"3ccd2fd4b1c2a0d1","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"deviceSelected","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"device_id","pt":"flow","to":"payload.device_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":1420,"wires":[["1150dc1b4c63a5c3"]]},{"id":"202cf4e12fac7e6b","type":"switch","z":"e572cadeac508138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":1880,"wires":[["3947a9529997a2ca"],["5d2fbabb05542f20"]]},{"id":"3947a9529997a2ca","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceSelected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1820,"wires":[["de48493074ec6ed1","5d2fbabb05542f20","1c3062a083e03ac6"]]},{"id":"94ebb1c164d6244d","type":"link out","z":"e572cadeac508138","name":"link out 2","mode":"link","links":["191e410938c0a14b"],"x":1615,"y":1900,"wires":[]},{"id":"191e410938c0a14b","type":"link in","z":"e572cadeac508138","name":"link in 4","links":["94ebb1c164d6244d","d41ee0911aff57df"],"x":55,"y":640,"wires":[["5931fb775725d6d1"]]},{"id":"de48493074ec6ed1","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Add Device\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1800,"wires":[["f7b78f6e2106ade4"]]},{"id":"f7b78f6e2106ade4","type":"ui_ui_control","z":"e572cadeac508138","name":"Add Device","events":"all","x":1530,"y":1800,"wires":[[]]},{"id":"9d46c58acca09271","type":"ui_button","z":"e572cadeac508138","name":"","group":"e4cc8096b04ecbd3","order":11,"width":0,"height":0,"passthru":false,"label":"Add New device","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":1700,"wires":[["2ccbc3c9ad11f61f"]]},{"id":"2ccbc3c9ad11f61f","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Add Device\"}","tot":"json"},{"t":"set","p":"method","pt":"flow","to":"POST","tot":"str"},{"t":"set","p":"deviceSelected","pt":"flow","to":"{\"device_id\":\"\",\"mac_address\":\"\",\"device_name\":\"\",\"device_type\":\"\",\"location\":\"\",\"is_active\":\"\",\"patient_id\":\"\",\"admin_id\":\"\",\"thingspeak_channel_id\":\"\",\"thingspeak_channel_key\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1700,"wires":[["ead7d20a60bee989"]]},{"id":"ead7d20a60bee989","type":"ui_ui_control","z":"e572cadeac508138","name":"Add Device","events":"all","x":630,"y":1700,"wires":[[]]},{"id":"d6edec96ed713edf","type":"ui_button","z":"e572cadeac508138","name":"","group":"e4cc8096b04ecbd3","order":6,"width":3,"height":1,"passthru":false,"label":"Edit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":1920,"wires":[["52b430595c6c5645"]]},{"id":"826221b7b549018d","type":"http request","z":"e572cadeac508138","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"http://0.0.0.0:8080/Entity","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":2680,"wires":[["41ec5f9c2099cd9d"]]},{"id":"4b7b0a92988acd6b","type":"ui_form","z":"e572cadeac508138","name":"","label":"","group":"","order":1,"width":6,"height":1,"options":[{"label":"Entity Type","value":"entity_type","type":"text","required":false,"rows":null},{"label":"Entity Name","value":"entity_name","type":"text","required":false,"rows":null},{"label":"Active","value":"is_active","type":"number","required":false,"rows":null}],"formValue":{"entity_type":"","entity_name":"","is_active":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":130,"y":2620,"wires":[["cb5554430a842d83"]]},{"id":"cb5554430a842d83","type":"json","z":"e572cadeac508138","name":"","property":"payload","action":"","pretty":false,"x":210,"y":2680,"wires":[["826221b7b549018d"]]},{"id":"861840da6a0edfd5","type":"debug","z":"e572cadeac508138","name":"debug 49","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":980,"y":2880,"wires":[]},{"id":"6ecf1d4d196ecaf3","type":"ui_toast","z":"e572cadeac508138","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Do you want to  confirm?","name":"","x":730,"y":2840,"wires":[["861840da6a0edfd5","6666977c213c608b"]]},{"id":"41ec5f9c2099cd9d","type":"switch","z":"e572cadeac508138","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":2600,"wires":[["61daed464bd0cf7e"],["2c66a3735355a0bd"]]},{"id":"5661b5ed66e4a010","type":"ui_toast","z":"e572cadeac508138","position":"bottom right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1110,"y":2600,"wires":[]},{"id":"e606974d0c04cdc3","type":"inject","z":"e572cadeac508138","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"object","payloadType":"date","x":240,"y":2820,"wires":[["826221b7b549018d"]]},{"id":"61daed464bd0cf7e","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":2580,"wires":[["5661b5ed66e4a010"]]},{"id":"2c66a3735355a0bd","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":2840,"wires":[["6ecf1d4d196ecaf3"]]},{"id":"b301cc69c26386a6","type":"ui_ui_control","z":"e572cadeac508138","name":"Device","events":"all","x":1210,"y":2840,"wires":[[]]},{"id":"b53a64132dac3259","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Entity\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":2740,"wires":[["b301cc69c26386a6"]]},{"id":"568c44bfa4d60ac9","type":"debug","z":"e572cadeac508138","name":"debug 51","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":2680,"wires":[]},{"id":"6666977c213c608b","type":"switch","z":"e572cadeac508138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":2740,"wires":[["568c44bfa4d60ac9","b53a64132dac3259"]]},{"id":"7f6223409db9c11d","type":"ui_button","z":"e572cadeac508138","name":"","group":"","order":30,"width":2,"height":1,"passthru":false,"label":"Update ","tooltip":"","color":"","bgcolor":"","className":"","icon":"update","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":3020,"wires":[["4f00e4f932effbb0"]]},{"id":"4f00e4f932effbb0","type":"http request","z":"e572cadeac508138","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://0.0.0.0:8080/Entity","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""}],"x":280,"y":3020,"wires":[["09ea8f61f777961c","d6b9cb2e8e32cea5"]]},{"id":"eb7a98c7bdd9e3dd","type":"ui_toast","z":"e572cadeac508138","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Do you want to  edit this  Entity?","name":"","x":490,"y":3180,"wires":[["aecb3815199a639a"]]},{"id":"b5b45d1633e6e34e","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"entitySelected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":3020,"wires":[["f0c726170d4bef44"]]},{"id":"aecb3815199a639a","type":"switch","z":"e572cadeac508138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":3140,"wires":[["a0a03af184b36da6"]]},{"id":"a0a03af184b36da6","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"entitySelected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":3140,"wires":[["7d5f28775d21339a","b65aefa34a9654c4","a1c5b9cf3e731ded"]]},{"id":"7d5f28775d21339a","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Add Entity\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":3260,"wires":[["dbc6726d6e6fa0ea"]]},{"id":"dbc6726d6e6fa0ea","type":"ui_ui_control","z":"e572cadeac508138","name":"Add Entity","events":"all","x":1270,"y":3260,"wires":[[]]},{"id":"06eddf6f11479b1a","type":"ui_button","z":"e572cadeac508138","name":"","group":"","order":27,"width":3,"height":1,"passthru":false,"label":"Add New  Entity","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":2940,"wires":[["598ad577929a4e46"]]},{"id":"598ad577929a4e46","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Add Entity\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2940,"wires":[["009e8257994e663b"]]},{"id":"009e8257994e663b","type":"ui_ui_control","z":"e572cadeac508138","name":"Add New Entity","events":"all","x":600,"y":2940,"wires":[[]]},{"id":"e51dc5ba6bb11bda","type":"ui_button","z":"e572cadeac508138","name":"","group":"","order":18,"width":6,"height":1,"passthru":false,"label":"Edit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":3180,"wires":[["063a1ebb018e97f0"]]},{"id":"54ab57361bdbaeed","type":"link in","z":"e572cadeac508138","name":"link in 5","links":["b65aefa34a9654c4"],"x":45,"y":2860,"wires":[["4b7b0a92988acd6b"]]},{"id":"b65aefa34a9654c4","type":"link out","z":"e572cadeac508138","name":"link out 3","mode":"link","links":["54ab57361bdbaeed"],"x":1145,"y":3160,"wires":[]},{"id":"063a1ebb018e97f0","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":3180,"wires":[["eb7a98c7bdd9e3dd"]]},{"id":"52b430595c6c5645","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"},{"t":"set","p":"method","pt":"flow","to":"PUT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1920,"wires":[["fb275baa5df0baa8"]]},{"id":"09ea8f61f777961c","type":"ui_table","z":"e572cadeac508138","group":"","name":"","order":12,"width":9,"height":4,"columns":[{"field":"entity_type","title":"Entity Type","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"entity_name","title":"Entity Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"is_active","title":"Active","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":490,"y":3020,"wires":[["b5b45d1633e6e34e"]]},{"id":"f0c726170d4bef44","type":"debug","z":"e572cadeac508138","name":"debug 52","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":3020,"wires":[]},{"id":"a1c5b9cf3e731ded","type":"debug","z":"e572cadeac508138","name":"debug 53","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":3060,"wires":[]},{"id":"c0baef0feae6a7a1","type":"ui_button","z":"e572cadeac508138","name":"","group":"e4cc8096b04ecbd3","order":3,"width":4,"height":1,"passthru":false,"label":"search","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":1420,"wires":[["8735de26e3f36bcc"]]},{"id":"04d80dd34e449bee","type":"ui_text_input","z":"e572cadeac508138","name":"","label":"Digit the Passport","tooltip":"","group":"e4cc8096b04ecbd3","order":2,"width":8,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":110,"y":1280,"wires":[["97d6ed1d96ed48ce"]]},{"id":"97d6ed1d96ed48ce","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"passportNumber","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1280,"wires":[[]]},{"id":"ffa01a63f8bc5a9d","type":"debug","z":"e572cadeac508138","name":"debug 54","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1080,"y":1680,"wires":[]},{"id":"9a79fe72f14b074d","type":"http request","z":"e572cadeac508138","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":500,"y":1480,"wires":[["73af814b5a712bde","1eb236ea4c116cf4"]]},{"id":"8735de26e3f36bcc","type":"function","z":"e572cadeac508138","name":"function 28","func":"\nvar passport = flow.get('passportNumber');  // Get selected sensor type from flow context\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + `patient?passport_code=${passport}`;  \n\n\n\nreturn msg;  // Return the message to the next node\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":1480,"wires":[["9a79fe72f14b074d"]]},{"id":"f1bc868ad2628239","type":"ui_table","z":"e572cadeac508138","group":"e4cc8096b04ecbd3","name":"","order":5,"width":12,"height":3,"columns":[{"field":"mac_address","title":"Mac Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"device_name","title":"Device Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"device_type","title":"Device type","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"is_active","title":"Active","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1070,"y":1580,"wires":[["3ccd2fd4b1c2a0d1"]]},{"id":"d6b9cb2e8e32cea5","type":"debug","z":"e572cadeac508138","name":"debug 55","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":3080,"wires":[]},{"id":"0f5c951504e8b0c1","type":"ui_button","z":"e572cadeac508138","name":"","group":"e4cc8096b04ecbd3","order":8,"width":3,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":2060,"wires":[["55963785ed2b5ed6"]]},{"id":"5d2fbabb05542f20","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"deviceSelected","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":1980,"wires":[[]]},{"id":"fb275baa5df0baa8","type":"switch","z":"e572cadeac508138","name":"","property":"deviceSelected","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1920,"wires":[["19eabb5340142dad"],["239c424412e6e8d1"]]},{"id":"239c424412e6e8d1","type":"ui_toast","z":"e572cadeac508138","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"You should Select a line","name":"","x":670,"y":1980,"wires":[]},{"id":"4215c351d999173a","type":"function","z":"e572cadeac508138","name":"function 29","func":"var device_id = flow.get('device_id');  // Get selected device from flow context\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + `device?device_id=${device_id}`;  \n\nnode.warn(device_id);\nreturn msg;  // Return the message to the next node\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":2220,"wires":[["a69618fad4f06cf3","984258aa9b664db3"]]},{"id":"a69618fad4f06cf3","type":"http request","z":"e572cadeac508138","name":"","method":"DELETE","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":740,"y":2100,"wires":[["718d4519e82e7f55"]]},{"id":"984258aa9b664db3","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deviceSelected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2260,"wires":[["0d61463d35e6e6da"]]},{"id":"015c602a2c7c84cc","type":"debug","z":"e572cadeac508138","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1140,"y":2220,"wires":[]},{"id":"718d4519e82e7f55","type":"switch","z":"e572cadeac508138","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":2100,"wires":[["08d7e59d6d8ccf34","015c602a2c7c84cc"]]},{"id":"049ffc731e9970c6","type":"ui_toast","z":"e572cadeac508138","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Deleted sucessfully","name":"","x":1350,"y":2100,"wires":[]},{"id":"08d7e59d6d8ccf34","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":2100,"wires":[["049ffc731e9970c6","ac9ed00e51fc4753"]]},{"id":"55963785ed2b5ed6","type":"switch","z":"e572cadeac508138","name":"","property":"deviceSelected","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":2240,"wires":[["872f5cc7dd081ea4"],["4466168ecaa060fe"]]},{"id":"574aac6310d9296f","type":"ui_toast","z":"e572cadeac508138","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"You should Select a line fisrt","name":"","x":510,"y":2360,"wires":[]},{"id":"0d61463d35e6e6da","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"deviceSelected","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":2260,"wires":[[]]},{"id":"4466168ecaa060fe","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":2360,"wires":[["574aac6310d9296f"]]},{"id":"1a2fbab0798ee445","type":"http request","z":"e572cadeac508138","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":840,"y":1580,"wires":[["f1bc868ad2628239","ffa01a63f8bc5a9d"]]},{"id":"73af814b5a712bde","type":"function","z":"e572cadeac508138","name":"function 30","func":"var patient = msg.payload?.[0]?.patient_id;  // extract patient_id\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\n\nif (patient !== undefined) {\n    flow.set(\"patient_id\", patient);  // Store in flow variable\n    msg.url = address + `device?patient_id=${patient}`;  \n    msg.patient_id = patient; \n} else {\n    node.warn(\"patient_id not found in payload\");\n    msg.url = null;\n    msg.patient_id = null;  \n}\n\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1580,"wires":[["1a2fbab0798ee445","97a1b79b53f906da"]]},{"id":"3e9b277f474131b2","type":"debug","z":"e572cadeac508138","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":520,"wires":[]},{"id":"2f2d83d49112f97c","type":"function","z":"e572cadeac508138","name":"function 31","func":"if (msg.payload && msg.payload.hasOwnProperty(\"is_active\")) {\n    msg.payload[\"is_active\"] = msg.payload[\"is_active\"] ? 1 : 0;\n}\n\nmsg.payload.patient_id = flow.get('patient_id');//create patient_id\nmsg.payload.admin_id = global.get('admin_id');// create admin_id\nvar device_id = flow.get('device_id');\nmsg.method = flow.get('method') || \"POST\";\nnode.warn(device_id);\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\n\n\n\nif (msg.method === \"PUT\") {\n    msg.url = address + `device?device_id=${device_id}`;  \n\n} else {\n    \n    msg.url = address + `device`;  \n\n}\n\nnode.warn(`Method: ${msg.method}, URL: ${msg.url}`);\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":540,"wires":[["a35b9a01726d4f3a","3e9b277f474131b2"]]},{"id":"fc9f607b6aa7d0cb","type":"debug","z":"e572cadeac508138","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":580,"wires":[]},{"id":"97a1b79b53f906da","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"patient_id","pt":"flow","to":"patient_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1480,"wires":[[]]},{"id":"1150dc1b4c63a5c3","type":"debug","z":"e572cadeac508138","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.device_id","targetType":"msg","statusVal":"","statusType":"auto","x":1360,"y":1440,"wires":[]},{"id":"d871772fad4bcc5e","type":"link out","z":"e572cadeac508138","name":"link out 4","mode":"link","links":["eb38f8e6f76190ec","2b9519a83a7aec33","8247dd1e0b3fe1dd","24fc4e0db2d7f824"],"x":1415,"y":840,"wires":[]},{"id":"eb38f8e6f76190ec","type":"link in","z":"e572cadeac508138","name":"link out Table","links":["d871772fad4bcc5e","ac9ed00e51fc4753","3defc62456bd5d98","8bc62c72f23869ef"],"x":345,"y":1640,"wires":[["8735de26e3f36bcc"]]},{"id":"872f5cc7dd081ea4","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":2160,"wires":[["76f87bd9a96a9525"]]},{"id":"76f87bd9a96a9525","type":"ui_toast","z":"e572cadeac508138","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Are you sure you want delete it?","name":"","x":410,"y":2080,"wires":[["406bfd156499f987"]]},{"id":"406bfd156499f987","type":"switch","z":"e572cadeac508138","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":2160,"wires":[["4215c351d999173a"]]},{"id":"ac9ed00e51fc4753","type":"link out","z":"e572cadeac508138","name":"link out 5","mode":"link","links":["eb38f8e6f76190ec","2b9519a83a7aec33","8247dd1e0b3fe1dd","24fc4e0db2d7f824"],"x":1325,"y":2160,"wires":[]},{"id":"a8eefc0e3655a9fe","type":"ui_button","z":"e572cadeac508138","name":"","group":"fe8dc837cefb9493","order":2,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1060,"wires":[["deeea68b0d3cde33"]]},{"id":"deeea68b0d3cde33","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Device\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1060,"wires":[["13cbcce69a591741"]]},{"id":"13cbcce69a591741","type":"ui_ui_control","z":"e572cadeac508138","name":"Device","events":"all","x":570,"y":1060,"wires":[[]]},{"id":"1eb236ea4c116cf4","type":"debug","z":"e572cadeac508138","name":"debug 65","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":1360,"wires":[]},{"id":"1c3062a083e03ac6","type":"switch","z":"e572cadeac508138","name":"","property":"payload.is_active","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1190,"y":1880,"wires":[["cf0786fb6b79902b","711ac0aa09d02798"],[]]},{"id":"cf0786fb6b79902b","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload.is_active","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1860,"wires":[["94ebb1c164d6244d"]]},{"id":"711ac0aa09d02798","type":"change","z":"e572cadeac508138","name":"","rules":[{"t":"set","p":"payload.is_active","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":1920,"wires":[["94ebb1c164d6244d"]]},{"id":"6316979d28b3015d","type":"ui_text_input","z":"1602850f8ee96d62","name":"Email","label":"email","tooltip":"","group":"a7513268b5069b0b","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"payload","sendOnBlur":false,"className":"","topicType":"msg","x":90,"y":180,"wires":[["db739ee24c301308"]]},{"id":"7710fea23e33341f","type":"ui_text_input","z":"1602850f8ee96d62","name":"Password","label":"Password","tooltip":"","group":"a7513268b5069b0b","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":80,"y":280,"wires":[["9c4e5be62b96e8ae"]]},{"id":"db739ee24c301308","type":"function","z":"1602850f8ee96d62","name":"function 18","func":"if(msg.payload !== \"\"){\n    flow.set(\"email\",msg.payload);\n\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":180,"wires":[[]]},{"id":"9c4e5be62b96e8ae","type":"function","z":"1602850f8ee96d62","name":"function 19","func":"if(msg.payload !== \"\"){\n    flow.set(\"password\",msg.payload);\n\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":280,"wires":[[]]},{"id":"9a9caa04953368ed","type":"ui_button","z":"1602850f8ee96d62","name":"","group":"a7513268b5069b0b","order":2,"width":0,"height":0,"passthru":false,"label":"Log in","tooltip":"","color":"","bgcolor":"green","className":"","icon":"login","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":380,"wires":[["f91156061b48ce41"]]},{"id":"f91156061b48ce41","type":"function","z":"1602850f8ee96d62","name":"function 20","func":"\n// Retrieve username and password from flow context\nlet email = flow.get('email');\nlet password = flow.get('password');\n\n// Format them as a JSON object\nlet loginData = {\n    \"email\": email,\n    \"password\": password\n};\n\n// Set the payload to the formatted JSON\nmsg.payload = loginData;\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + \"login\";  // Concatenate with \"login\"\n \nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":380,"wires":[["5b57ca35719b95b7","73acfae14ccb6de6"]]},{"id":"73acfae14ccb6de6","type":"http request","z":"1602850f8ee96d62","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":440,"y":380,"wires":[["28164e59571082f9"]]},{"id":"28164e59571082f9","type":"switch","z":"1602850f8ee96d62","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"},{"t":"eq","v":"error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":380,"wires":[["139c05062a15f548","1c53403632d18767"],["604379b24787d50c"]]},{"id":"b46ff3b53b68ec72","type":"ui_ui_control","z":"1602850f8ee96d62","name":"Home","events":"all","x":1090,"y":300,"wires":[[]]},{"id":"139c05062a15f548","type":"change","z":"1602850f8ee96d62","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Home\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["b46ff3b53b68ec72","47a896f01891360c","8b995562458d94c3"]]},{"id":"ea24bca859c26eca","type":"ui_button","z":"1602850f8ee96d62","name":"Register","group":"a7513268b5069b0b","order":3,"width":0,"height":0,"passthru":false,"label":"Register","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":620,"wires":[["76e9c181b911c678"]]},{"id":"76e9c181b911c678","type":"change","z":"1602850f8ee96d62","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Register\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":620,"wires":[["8f7ceb631146d260"]]},{"id":"8f7ceb631146d260","type":"ui_ui_control","z":"1602850f8ee96d62","name":"to Register","events":"all","x":470,"y":640,"wires":[[]]},{"id":"a52b536f8731e71b","type":"function","z":"1602850f8ee96d62","name":"function 25","func":"msg.payload = {\n    \"tabs\": {\n        \"hide\": [\"Lamp Control\", \"Home\", \"Historical Data\", \"Register\", \"Air Control\", \"Alarms\"]\n    }\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":40,"wires":[["1b824e2b4371fad1"]]},{"id":"1b824e2b4371fad1","type":"ui_ui_control","z":"1602850f8ee96d62","name":"","events":"all","x":520,"y":40,"wires":[[]]},{"id":"fb79f8754eb2b4c9","type":"inject","z":"1602850f8ee96d62","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/1 0 * * *","once":true,"onceDelay":"0.8","topic":"","x":90,"y":40,"wires":[["a52b536f8731e71b","cad068c9db23101e"]]},{"id":"47a896f01891360c","type":"ui_toast","z":"1602850f8ee96d62","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Acess confimed","name":"","x":1130,"y":240,"wires":[]},{"id":"604379b24787d50c","type":"ui_toast","z":"1602850f8ee96d62","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Invalid Username or Password","name":"","x":850,"y":480,"wires":[]},{"id":"6e8c5fc8b0d62b8c","type":"ui_ui_control","z":"1602850f8ee96d62","name":"","events":"all","x":1240,"y":140,"wires":[[]]},{"id":"8b995562458d94c3","type":"function","z":"1602850f8ee96d62","name":"function 27","func":"msg.payload = {\n    \"tabs\": {\n        \"hide\": [\"Log in\"],  // Hide only the \"Log in\" tab\n        \"show\": [\"Lamp Control\", \"Home\", \"Historical Data\", \"Register\", \"Air Control\", \"Alarms\"]  // Unhide the other tabs\n    }\n};\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":140,"wires":[["6e8c5fc8b0d62b8c"]]},{"id":"5b57ca35719b95b7","type":"debug","z":"1602850f8ee96d62","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":480,"wires":[]},{"id":"1c53403632d18767","type":"change","z":"1602850f8ee96d62","name":"","rules":[{"t":"set","p":"admin_id","pt":"global","to":"payload.user.admin_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":380,"wires":[["4b0deac5c9ee1c05"]]},{"id":"4b0deac5c9ee1c05","type":"debug","z":"1602850f8ee96d62","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":380,"wires":[]},{"id":"a67a28389e6556cc","type":"ui_form","z":"1602850f8ee96d62","name":"","label":"","group":"339285a0c8df0979","order":1,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"text","required":true,"rows":null},{"label":"email","value":"email","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null},{"label":"Repeat Password","value":"password2","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":"","password2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":70,"y":860,"wires":[["7d463dc285f32b98","9eac083aaba04dae"]]},{"id":"7d463dc285f32b98","type":"debug","z":"1602850f8ee96d62","name":"debug 70","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":140,"y":1020,"wires":[]},{"id":"9eac083aaba04dae","type":"switch","z":"1602850f8ee96d62","name":"","property":"payload.password","propertyType":"msg","rules":[{"t":"eq","v":"payload.password2","vt":"msg"},{"t":"neq","v":"payload.password2","vt":"msg"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":860,"wires":[["5a2c2047f5424204"],["6b7444a003e56734"]]},{"id":"6b7444a003e56734","type":"ui_toast","z":"1602850f8ee96d62","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":" Passwords does not match","name":"","x":390,"y":1020,"wires":[]},{"id":"20e87c60fc400ea3","type":"http request","z":"1602850f8ee96d62","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":620,"y":860,"wires":[["d26d10794edfdb69","faa039bcbcee5d2b"]]},{"id":"d26d10794edfdb69","type":"switch","z":"1602850f8ee96d62","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"},{"t":"neq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":810,"y":860,"wires":[["a2c04f66473452b3","642adfa1ed8edad2","e36e7afbb571404a"],["350aff571b6b2f89","51b645615a308b9e"]]},{"id":"a2c04f66473452b3","type":"debug","z":"1602850f8ee96d62","name":"debug 71","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":720,"wires":[]},{"id":"642adfa1ed8edad2","type":"ui_toast","z":"1602850f8ee96d62","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Successfully created","name":"","x":1230,"y":760,"wires":[]},{"id":"e36e7afbb571404a","type":"change","z":"1602850f8ee96d62","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"log in\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":860,"wires":[["13d5ec0182531722"]]},{"id":"13d5ec0182531722","type":"ui_ui_control","z":"1602850f8ee96d62","name":"to login","events":"all","x":1260,"y":860,"wires":[[]]},{"id":"93960ac81b089d54","type":"ui_toast","z":"1602850f8ee96d62","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"className":"","topic":"Email already Registered","name":"","x":1310,"y":940,"wires":[]},{"id":"350aff571b6b2f89","type":"debug","z":"1602850f8ee96d62","name":"debug 72","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":1020,"wires":[]},{"id":"faa039bcbcee5d2b","type":"debug","z":"1602850f8ee96d62","name":"debug 73","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":740,"wires":[]},{"id":"51b645615a308b9e","type":"change","z":"1602850f8ee96d62","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":940,"wires":[["93960ac81b089d54"]]},{"id":"c96ea4261b993c5f","type":"ui_button","z":"1602850f8ee96d62","name":"Return","group":"339285a0c8df0979","order":2,"width":0,"height":0,"passthru":false,"label":"Return","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":1140,"wires":[["9b5468df9bb0858b"]]},{"id":"9b5468df9bb0858b","type":"change","z":"1602850f8ee96d62","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"log in\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1140,"wires":[["182fa1e2aafe0975"]]},{"id":"182fa1e2aafe0975","type":"ui_ui_control","z":"1602850f8ee96d62","name":"to Login","events":"all","x":560,"y":1140,"wires":[[]]},{"id":"cad068c9db23101e","type":"function","z":"1602850f8ee96d62","name":"function 47","func":"//set as global the links\n\nglobal.set(\"urlDBconector\", \"http://0.0.0.0:8080/\");\nglobal.set(\"urlThingspeak\", \"http://0.0.0.0:8081/\");\nglobal.set(\"urlML\", \"http://0.0.0.0:8082/\");\n\n// Pass the message forward (optional)\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":80,"wires":[[]]},{"id":"5a2c2047f5424204","type":"function","z":"1602850f8ee96d62","name":"function 48","func":"let address = global.get(\"urlDBconector\");  // Retrieve the global variable\nlet loginUrl = address + \"admin\";  // Concatenate with \"login\"\n\nmsg.url = loginUrl;  // Send it as payload\nreturn msg","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":860,"wires":[["20e87c60fc400ea3"]]},{"id":"d1c3dea53dbd20a8","type":"http request","z":"4eb7c8dff09ea662","name":"","method":"use","ret":"obj","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":640,"y":840,"wires":[["185ef7de8d400260","4ae2a2abccb0d2de"]]},{"id":"1fa3cda5e723dc8c","type":"ui_form","z":"4eb7c8dff09ea662","name":"","label":"","group":"d31a3adb3be0fc29","order":6,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"text","required":true,"rows":null},{"label":"address","value":"address","type":"text","required":true,"rows":null},{"label":"emergency_contact","value":"emergency_contact","type":"text","required":true,"rows":null}],"formValue":{"name":"","address":"","emergency_contact":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":130,"y":600,"wires":[["e75eb558e7e3c872"]]},{"id":"0c5fea81ac59c5a2","type":"debug","z":"4eb7c8dff09ea662","name":"debug 80","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":1100,"wires":[]},{"id":"6c2db47d6e8c6da0","type":"ui_toast","z":"4eb7c8dff09ea662","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Do you want to  confirm?","name":"","x":790,"y":1100,"wires":[["0c5fea81ac59c5a2","19f0ab1bb260b48e"]]},{"id":"185ef7de8d400260","type":"switch","z":"4eb7c8dff09ea662","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"Error","vt":"str"},{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":840,"wires":[["21b462e03217c6df"],["995c730355414fa1","c5176b2368dd2630"]]},{"id":"eba7658a840d242d","type":"ui_toast","z":"4eb7c8dff09ea662","position":"bottom right","displayTime":"6","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"","name":"","x":1290,"y":720,"wires":[]},{"id":"995c730355414fa1","type":"debug","z":"4eb7c8dff09ea662","name":"debug 81","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":840,"wires":[]},{"id":"21b462e03217c6df","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":720,"wires":[["eba7658a840d242d"]]},{"id":"c5176b2368dd2630","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1100,"wires":[["6c2db47d6e8c6da0"]]},{"id":"7f0d0d385b0afa56","type":"ui_ui_control","z":"4eb7c8dff09ea662","name":"Device","events":"all","x":1490,"y":880,"wires":[[]]},{"id":"29fabcd87d11fb5c","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Patient\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":1020,"wires":[["7f0d0d385b0afa56","3defc62456bd5d98"]]},{"id":"c1b634d9f6ac3537","type":"debug","z":"4eb7c8dff09ea662","name":"debug 82","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":900,"wires":[]},{"id":"19f0ab1bb260b48e","type":"switch","z":"4eb7c8dff09ea662","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":1040,"wires":[["c1b634d9f6ac3537","29fabcd87d11fb5c"]]},{"id":"87ca7b651b260f0e","type":"link in","z":"4eb7c8dff09ea662","name":"link in Edit Device","links":["d41ee0911aff57df"],"x":35,"y":600,"wires":[["1fa3cda5e723dc8c"]]},{"id":"c59fd22c99a0a4db","type":"debug","z":"4eb7c8dff09ea662","name":"debug 83","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":640,"y":640,"wires":[]},{"id":"f0d4b2e0ed16e19b","type":"function","z":"4eb7c8dff09ea662","name":"function 49","func":"var patient_id = msg.payload?.[0]?.patient_id;\nvar patient =  flow.get(\"patientInfo\")\nmsg.payload = {\n        name: patient.name,\n        address: patient.address,\n        emergency_contact: patient.emergency_contact,\n        passport_code: patient.passport_code,\n        admin_id:global.get(\"admin_id\")\n    };\n\n//flow.set(\"patientSelected\", filteredPatient);\n\n\n//msg.payload.patient_id = patient_id;//create patient_id\n//msg.payload.admin_id = global.get('admin_id');// create admin_id\n\nmsg.method = flow.get('method') || \"POST\";\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\n\n\n\nif (msg.method === \"PUT\") {\n    msg.url = address + `patient?patient_id=${patient_id}`;  \n\n} else {\n    \n    msg.url = address + `patient`;  \n\n}\n\nnode.warn(`Method: ${msg.method}, URL: ${msg.url}`);\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":840,"wires":[["d1c3dea53dbd20a8","c59fd22c99a0a4db"]]},{"id":"4ae2a2abccb0d2de","type":"debug","z":"4eb7c8dff09ea662","name":"debug 84","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":760,"wires":[]},{"id":"3defc62456bd5d98","type":"link out","z":"4eb7c8dff09ea662","name":"link out 6","mode":"link","links":["eb38f8e6f76190ec","2b9519a83a7aec33","8247dd1e0b3fe1dd","24fc4e0db2d7f824"],"x":1495,"y":1020,"wires":[]},{"id":"5c971f66880f601e","type":"ui_button","z":"4eb7c8dff09ea662","name":"","group":"7c5c06cb211a62d2","order":14,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":1220,"wires":[["e3153035d00d2af6"]]},{"id":"e3153035d00d2af6","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Patient\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1220,"wires":[["f0da4c010ddecf1a"]]},{"id":"f0da4c010ddecf1a","type":"ui_ui_control","z":"4eb7c8dff09ea662","name":"Patient","events":"all","x":660,"y":1220,"wires":[[]]},{"id":"1316ecde7e97f243","type":"ui_toast","z":"4eb7c8dff09ea662","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Do you want to  edit this Patient?","name":"","x":590,"y":1740,"wires":[["9a3b42127b74c4cc"]]},{"id":"8c14a36ac3e1b56b","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"patientSelected","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"passport_code","pt":"flow","to":"payload.passport_code","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":1300,"wires":[["9d65ac99cf6ad53d"]]},{"id":"9a3b42127b74c4cc","type":"switch","z":"4eb7c8dff09ea662","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"},{"t":"eq","v":"Cancel","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":1780,"wires":[["6296323688d46c6b"],["dd61f5bc64e6461d"]]},{"id":"6296323688d46c6b","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"patientSelected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1660,"wires":[["58b3f5fefd77ca83","d41ee0911aff57df"]]},{"id":"d41ee0911aff57df","type":"link out","z":"4eb7c8dff09ea662","name":"link out Edit device","mode":"link","links":["191e410938c0a14b","8684a73caa8176d0","87ca7b651b260f0e","399a2fd8cdc166ba"],"x":975,"y":1580,"wires":[]},{"id":"58b3f5fefd77ca83","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Edit Patient\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1680,"wires":[["cb77364fcc926b08"]]},{"id":"cb77364fcc926b08","type":"ui_ui_control","z":"4eb7c8dff09ea662","name":"Edit Patient","events":"all","x":1410,"y":1680,"wires":[[]]},{"id":"f8529b33f0a35c75","type":"ui_button","z":"4eb7c8dff09ea662","name":"","group":"7fb095e26909aac0","order":8,"width":0,"height":0,"passthru":false,"label":"Add New device","tooltip":"","color":"","bgcolor":"green","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":1580,"wires":[["5fb040b80aee7e3a"]]},{"id":"5fb040b80aee7e3a","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Add Patient\"}","tot":"json"},{"t":"set","p":"method","pt":"flow","to":"POST","tot":"str"},{"t":"set","p":"deviceSelected","pt":"flow","to":"{\"name\":\"\",\"address\":\"\",\"emergency_contact\":\"\",\"passport_code\":\"\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1580,"wires":[["5fca256d77d1cd6f","bfe7416fb46a7ef5"]]},{"id":"5fca256d77d1cd6f","type":"ui_ui_control","z":"4eb7c8dff09ea662","name":"Add Patient","events":"all","x":590,"y":1580,"wires":[[]]},{"id":"00b7d33c86086910","type":"ui_button","z":"4eb7c8dff09ea662","name":"","group":"7fb095e26909aac0","order":3,"width":3,"height":1,"passthru":false,"label":"Edit","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":1780,"wires":[["0dd5d5830305ab04"]]},{"id":"0dd5d5830305ab04","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"},{"t":"set","p":"method","pt":"flow","to":"PUT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":1780,"wires":[["ad25ca6cfc651030"]]},{"id":"a656de5deb614253","type":"ui_button","z":"4eb7c8dff09ea662","name":"","group":"7fb095e26909aac0","order":7,"width":3,"height":1,"passthru":false,"label":"Update","tooltip":"update","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":180,"y":1420,"wires":[["1fb90d88d122ab3f"]]},{"id":"d4fc61b20dbe26f3","type":"debug","z":"4eb7c8dff09ea662","name":"debug 85","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":1560,"wires":[]},{"id":"a2729bf10ad9a441","type":"ui_table","z":"4eb7c8dff09ea662","group":"7fb095e26909aac0","name":"","order":2,"width":14,"height":4,"columns":[{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"emergency_contact","title":"Emergency Contact","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"passport_code","title":"Passport","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":1290,"y":1440,"wires":[["bd43a7e9c28d1d04","8c14a36ac3e1b56b"]]},{"id":"dd61f5bc64e6461d","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"patientSelected","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":1880,"wires":[[]]},{"id":"ad25ca6cfc651030","type":"switch","z":"4eb7c8dff09ea662","name":"","property":"patientSelected","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1780,"wires":[["1316ecde7e97f243"],["8df5a941f5656559"]]},{"id":"8df5a941f5656559","type":"ui_toast","z":"4eb7c8dff09ea662","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"You should Select a line","name":"","x":590,"y":1900,"wires":[]},{"id":"5bbc8aa5961a523d","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"admin_id","pt":"flow","to":"admin_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":1320,"wires":[[]]},{"id":"bd43a7e9c28d1d04","type":"debug","z":"4eb7c8dff09ea662","name":"debug 86","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1580,"y":1440,"wires":[]},{"id":"2b9519a83a7aec33","type":"link in","z":"4eb7c8dff09ea662","name":"link out Table","links":["d871772fad4bcc5e","ac9ed00e51fc4753","3defc62456bd5d98","8bc62c72f23869ef"],"x":315,"y":1380,"wires":[["1fb90d88d122ab3f"]]},{"id":"85ce0356089f6765","type":"debug","z":"4eb7c8dff09ea662","name":"debug 87","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":240,"y":940,"wires":[]},{"id":"6d2186a01dd2e400","type":"ui_button","z":"4eb7c8dff09ea662","name":"","group":"7fb095e26909aac0","order":5,"width":4,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"red","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":50,"y":2460,"wires":[["c38ccea84a8a6ecc"]]},{"id":"dfe9224e3afd6e35","type":"function","z":"4eb7c8dff09ea662","name":"function 52","func":"var patient_id = flow.get('patient_id');  // Get selected device from flow context\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + `patient?patient_id=${patient_id}`;  \nmsg.payload= null;\nmsg.method =\"DELETE\";\nnode.warn(msg.url);\nreturn msg;  // Return the message to the next node\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":2360,"wires":[["044be21d49b1179d","4bdaf96220cebb16","16fbc9c94a60bef5"]]},{"id":"16fbc9c94a60bef5","type":"http request","z":"4eb7c8dff09ea662","name":"","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1080,"y":2120,"wires":[["50434a77de04b238","e832594d0a78e846"]]},{"id":"044be21d49b1179d","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"patientSelected","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":2360,"wires":[["14f5ed224aa88bc1"]]},{"id":"741ba3063ed9a1c3","type":"debug","z":"4eb7c8dff09ea662","name":"debug 88","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":2240,"wires":[]},{"id":"50434a77de04b238","type":"switch","z":"4eb7c8dff09ea662","name":"","property":"payload.status","propertyType":"msg","rules":[{"t":"eq","v":"success","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1290,"y":2120,"wires":[["5ced73d487bde52b","741ba3063ed9a1c3"]]},{"id":"b6809a0a26ea78ab","type":"ui_toast","z":"4eb7c8dff09ea662","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Deleted sucessfully","name":"","x":1790,"y":2080,"wires":[]},{"id":"5ced73d487bde52b","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":2120,"wires":[["b6809a0a26ea78ab","8bc62c72f23869ef"]]},{"id":"c38ccea84a8a6ecc","type":"switch","z":"4eb7c8dff09ea662","name":"","property":"patientSelected","propertyType":"flow","rules":[{"t":"neq","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":2460,"wires":[["e227c29c10608f95"],["fc4cf787e80d6bdb"]]},{"id":"50e80fe8d0fc2e77","type":"ui_toast","z":"4eb7c8dff09ea662","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"You should Select a line fisrt","name":"","x":570,"y":2620,"wires":[]},{"id":"14f5ed224aa88bc1","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"patientSelected","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":2360,"wires":[[]]},{"id":"fc4cf787e80d6bdb","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":2620,"wires":[["50e80fe8d0fc2e77"]]},{"id":"e227c29c10608f95","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\" \"","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":2360,"wires":[["b2c88987e96cee15"]]},{"id":"b2c88987e96cee15","type":"ui_toast","z":"4eb7c8dff09ea662","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"className":"","topic":"Are you sure you want delete it?","name":"","x":610,"y":2360,"wires":[["3a02f9c26ebf5557"]]},{"id":"3a02f9c26ebf5557","type":"switch","z":"4eb7c8dff09ea662","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OK","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":2360,"wires":[["dfe9224e3afd6e35","ae49e1332c41b162"]]},{"id":"8bc62c72f23869ef","type":"link out","z":"4eb7c8dff09ea662","name":"link out 8","mode":"link","links":["eb38f8e6f76190ec","2b9519a83a7aec33","8247dd1e0b3fe1dd","24fc4e0db2d7f824"],"x":1735,"y":2140,"wires":[]},{"id":"1fb90d88d122ab3f","type":"function","z":"4eb7c8dff09ea662","name":"function 53","func":"//var admin_id = msg.payload?.[0]?.admin_id;  // extract patient_id\nvar admin_id = global.get('admin_id');\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\n\nif (admin_id !== undefined) {\n    flow.set(\"admin_id\", admin_id);  // Store in flow variable\n    msg.url = address + `patient?admin_id=${admin_id}`;  \n    msg.admin_id = admin_id; \n} else {\n    node.warn(\"patient_id not found in payload\");\n    msg.url = null;\n    msg.admin_id = null;  \n}\n\nreturn msg;\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":1420,"wires":[["8ef3028f616cb23f","5bbc8aa5961a523d","3f5531a11a552d7f"]]},{"id":"8ef3028f616cb23f","type":"http request","z":"4eb7c8dff09ea662","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":780,"y":1420,"wires":[["a9d3553796c0ba01"]]},{"id":"a9d3553796c0ba01","type":"function","z":"4eb7c8dff09ea662","name":"function 54","func":"if (Array.isArray(msg.payload) && msg.payload.length > 0) {\n    let patients = msg.payload.map(patient => ({\n        name: patient.name,\n        address: patient.address,\n        emergency_contact: patient.emergency_contact,\n        passport_code: patient.passport_code\n    }));\n\n    msg.payload = patients;\n} else {\n    msg.payload = { error: \"No patient data available\" };\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":1440,"wires":[["a2729bf10ad9a441","d4fc61b20dbe26f3"]]},{"id":"3f5531a11a552d7f","type":"debug","z":"4eb7c8dff09ea662","name":"debug 89","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":1500,"wires":[]},{"id":"e75eb558e7e3c872","type":"function","z":"4eb7c8dff09ea662","name":"function 55","func":"\nvar passport_code = flow.get('passport_code');\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + `patient?passport_code=${passport_code}`;  \n\nflow.set(\"patientInfo\", msg.payload);\n\n\nreturn msg;  // Return the message to the next node\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":500,"wires":[["3b19a31b195a7380"]]},{"id":"732e50deeee34a8a","type":"debug","z":"4eb7c8dff09ea662","name":"debug 90","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":660,"y":520,"wires":[]},{"id":"3b19a31b195a7380","type":"http request","z":"4eb7c8dff09ea662","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":640,"wires":[["f0d4b2e0ed16e19b","732e50deeee34a8a"]]},{"id":"bfe7416fb46a7ef5","type":"link out","z":"4eb7c8dff09ea662","name":"link out 9","mode":"link","links":["37a164f141f4e14d"],"x":475,"y":1680,"wires":[]},{"id":"37a164f141f4e14d","type":"link in","z":"4eb7c8dff09ea662","name":"link in Add Patient","links":["bfe7416fb46a7ef5","c878927fbad3c7cc"],"x":55,"y":480,"wires":[["2c71bc6bec93a354"]]},{"id":"2c71bc6bec93a354","type":"ui_form","z":"4eb7c8dff09ea662","name":"","label":"","group":"7c5c06cb211a62d2","order":6,"width":0,"height":0,"options":[{"label":"name","value":"name","type":"text","required":true,"rows":null},{"label":"address","value":"address","type":"text","required":true,"rows":null},{"label":"emergency_contact","value":"emergency_contact","type":"text","required":true,"rows":null},{"label":"Passport","value":"passport_code","type":"text","required":true,"rows":null}],"formValue":{"name":"","address":"","emergency_contact":"","passport_code":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":170,"y":480,"wires":[["e75eb558e7e3c872"]]},{"id":"9d65ac99cf6ad53d","type":"function","z":"4eb7c8dff09ea662","name":"function 56","func":"\nvar passport_code = flow.get('passport_code');\n\nlet address = global.get(\"urlDBconector\");  // Retrieve the global variable\nmsg.url = address + `patient?passport_code=${passport_code}`;  \n\nflow.set(\"patientInfo\", msg.payload);\n\n\nreturn msg;  // Return the message to the next node\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1550,"y":1300,"wires":[["30c2183ef6e7f082"]]},{"id":"30c2183ef6e7f082","type":"http request","z":"4eb7c8dff09ea662","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":1780,"y":1300,"wires":[["6a43f6aa46236259","3cd6ad1699729f8a"]]},{"id":"6a43f6aa46236259","type":"debug","z":"4eb7c8dff09ea662","name":"debug 91","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2000,"y":1320,"wires":[]},{"id":"3cd6ad1699729f8a","type":"function","z":"4eb7c8dff09ea662","name":"function 57","func":"var patient_id = msg.payload?.[0]?.patient_id;\nflow.set(\"patient_id\",patient_id);\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1940,"y":1220,"wires":[[]]},{"id":"4bdaf96220cebb16","type":"debug","z":"4eb7c8dff09ea662","name":"debug 92","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1120,"y":2440,"wires":[]},{"id":"e832594d0a78e846","type":"debug","z":"4eb7c8dff09ea662","name":"debug 93","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1260,"y":2240,"wires":[]},{"id":"ae49e1332c41b162","type":"debug","z":"4eb7c8dff09ea662","name":"debug 94","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":2440,"wires":[]},{"id":"3d6e57f5ec9f3165","type":"ui_button","z":"4eb7c8dff09ea662","name":"","group":"d31a3adb3be0fc29","order":14,"width":0,"height":0,"passthru":false,"label":"Back","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":1280,"wires":[["1b82a05b9ed0f663"]]},{"id":"1b82a05b9ed0f663","type":"change","z":"4eb7c8dff09ea662","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"tab\":\"Patient\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1280,"wires":[["46b0f15d265b186c"]]},{"id":"46b0f15d265b186c","type":"ui_ui_control","z":"4eb7c8dff09ea662","name":"Device","events":"all","x":590,"y":1280,"wires":[[]]}]