flows.json
[{"id":"1d28ab40a18bec3b","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"d9d2f214529d33da","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"042a34f2fe74b785","type":"mqtt-broker","name":"Broker Teste","broker":"mqtt.eclipseprojects.io","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"iot/teste","birthQos":"2","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ca806d391a33a264","type":"ui_group","name":"Lamp Control","tab":"47bdd4e105f27e72","order":1,"disp":true,"width":"6","collapse":false},{"id":"47bdd4e105f27e72","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"97107ef20c3f6706","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"92c93a6ab1150941","type":"sqlitedb","db":"D:\\Documents\\node\\sqlite-tools-win-x64-3460100/lamp_schedule.db","mode":"RWC"},{"id":"8b11449a8cd86133","type":"ui_spacer","z":"1d28ab40a18bec3b","name":"spacer","group":"ca806d391a33a264","order":1,"width":6,"height":1},{"id":"9116578d4469ecea","type":"ui_spacer","z":"1d28ab40a18bec3b","name":"spacer","group":"ca806d391a33a264","order":2,"width":6,"height":1},{"id":"86e143848b361a73","type":"ui_text_input","z":"1d28ab40a18bec3b","name":"time","label":"enters","tooltip":"","group":"ca806d391a33a264","order":5,"width":0,"height":0,"passthru":true,"mode":"time","delay":300,"topic":"payload","topicType":"msg","x":110,"y":160,"wires":[["f1dd8c9f78e66091"]]},{"id":"e6e3c8db2c21ea17","type":"ui_dropdown","z":"1d28ab40a18bec3b","name":"","label":"Week Days","tooltip":"","place":"Select option","group":"ca806d391a33a264","order":3,"width":0,"height":0,"passthru":true,"multiple":true,"options":[{"label":"","value":"Sunday","type":"str"},{"label":"","value":"Monday","type":"str"},{"label":"","value":"Tuesday","type":"str"},{"label":"","value":"Wednesday","type":"str"},{"label":"","value":"Thursday","type":"str"},{"label":"","value":"Friday","type":"str"},{"label":"","value":"Saturday","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":130,"y":220,"wires":[["13e8ef15c626ac8f"]]},{"id":"f815f489c213e496","type":"ui_dropdown","z":"1d28ab40a18bec3b","name":"","label":"","tooltip":"","place":"Select option","group":"ca806d391a33a264","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Turn On","value":true,"type":"bool"},{"label":"Turn Off","value":false,"type":"bool"}],"payload":"","topic":"topic","topicType":"msg","x":100,"y":320,"wires":[["3cdc9bb4caca8aca"]]},{"id":"fe357fd7a35d0ff3","type":"debug","z":"1d28ab40a18bec3b","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":460,"y":500,"wires":[]},{"id":"eb68d9e735036d6a","type":"debug","z":"1d28ab40a18bec3b","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":120,"wires":[]},{"id":"28ff87976377ea90","type":"ui_button","z":"1d28ab40a18bec3b","name":"","group":"ca806d391a33a264","order":6,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"obj","payloadType":"flow","topic":"payload","topicType":"msg","x":90,"y":440,"wires":[["8b57591828ae55c0"]]},{"id":"de8365a5d3e94122","type":"debug","z":"1d28ab40a18bec3b","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":240,"wires":[]},{"id":"3bc84a5217ceac90","type":"debug","z":"1d28ab40a18bec3b","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":560,"y":320,"wires":[]},{"id":"f1dd8c9f78e66091","type":"function","z":"1d28ab40a18bec3b","name":"function 2","func":"function convertMillisecondsToTime(millis) {\n    let date = new Date(millis);\n    let hours = date.getUTCHours().toString().padStart(2, '0');\n    let minutes = date.getUTCMinutes().toString().padStart(2, '0');\n    let seconds = date.getUTCSeconds().toString().padStart(2, '0');\n    return `${hours}:${minutes}:${seconds}`;\n}\n\nvar dict=flow.get(\"obj\")||{\"time\" : \"00:00\",\n    \"weekdays\": [],   \n    \"state\": \"\"}\n\nmsg.payload = convertMillisecondsToTime(msg.payload);\n\ndict.time =msg.payload\nflow.set(\"obj\", dict)\nmsg.payload= dict\n\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":160,"wires":[["eb68d9e735036d6a"]]},{"id":"13e8ef15c626ac8f","type":"function","z":"1d28ab40a18bec3b","name":"function 4","func":"var dict=flow.get(\"obj\")||{\"time\" : \"00:00\",\n    \"weekdays\": [],   \n    \"state\": \"\" }\n\ndict.weekdays =msg.payload\nflow.set(\"obj\", dict)\nmsg.payload = dict\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":220,"wires":[["de8365a5d3e94122"]]},{"id":"3cdc9bb4caca8aca","type":"function","z":"1d28ab40a18bec3b","name":"function 5","func":"\nvar dict=flow.get(\"obj\")||{\"time\" : \"00:00\",\n    \"weekdays\": [],   \n    \"state\": \"\" }\n\n\ndict.state =dict.state.toLowerCase()\ndict.state =msg.payload\nflow.set(\"obj\", dict)\nmsg.payload= dict\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":320,"wires":[["3bc84a5217ceac90"]]},{"id":"f238a067a40dcad2","type":"debug","z":"1d28ab40a18bec3b","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":780,"y":180,"wires":[]},{"id":"61269081c57d643f","type":"http request","z":"1d28ab40a18bec3b","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://0.0.0.0:8080/test","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":480,"y":440,"wires":[["1f2c9ce26d6f2864","1147d104d9b5513f"]]},{"id":"8b57591828ae55c0","type":"json","z":"1d28ab40a18bec3b","name":"","property":"payload","action":"","pretty":false,"x":290,"y":440,"wires":[["61269081c57d643f","fe357fd7a35d0ff3"]]},{"id":"1f2c9ce26d6f2864","type":"debug","z":"1d28ab40a18bec3b","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":440,"wires":[]},{"id":"1147d104d9b5513f","type":"ui_toast","z":"1d28ab40a18bec3b","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"ok","cancel":"","raw":false,"topic":"Status of operation","name":"Time additioned successfully","x":740,"y":520,"wires":[[]]},{"id":"3e4bca08753c4d1c","type":"change","z":"1d28ab40a18bec3b","name":"","rules":[{"t":"set","p":"selectedRow","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":680,"wires":[[]]},{"id":"5237586acf8402b2","type":"debug","z":"1d28ab40a18bec3b","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":620,"wires":[]},{"id":"612de43cea6a400d","type":"change","z":"1d28ab40a18bec3b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Dashboard_Row\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":800,"wires":[["edf57e48f8fa47e7"]]},{"id":"edf57e48f8fa47e7","type":"link out","z":"1d28ab40a18bec3b","name":"link out 1","mode":"link","links":["18ce3e72d0dc59b7"],"x":815,"y":800,"wires":[]},{"id":"8ca7738371558c76","type":"ui_button","z":"1d28ab40a18bec3b","name":"","group":"ca806d391a33a264","order":7,"width":0,"height":0,"passthru":false,"label":"Clear Table","tooltip":"","color":"","bgcolor":"red","icon":"fa-trash","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":580,"wires":[["7c3e0bab72f5f4d1"]]},{"id":"98cabba0410e101a","type":"ui_table","z":"1d28ab40a18bec3b","group":"ca806d391a33a264","name":"","order":7,"width":0,"height":0,"columns":[{"field":"ID","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Time","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":510,"y":700,"wires":[["5237586acf8402b2","3e4bca08753c4d1c","612de43cea6a400d"]]},{"id":"7c3e0bab72f5f4d1","type":"function","z":"1d28ab40a18bec3b","name":"function 7","func":"\nmsg.payload={\n    \"command\":\"clearData\",\n    arguments:[]\n}\n\nflow.set(\"id\",0)\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":580,"wires":[["98cabba0410e101a"]]},{"id":"9abdbe97e840c12f","type":"ui_button","z":"1d28ab40a18bec3b","name":"","group":"ca806d391a33a264","order":8,"width":0,"height":0,"passthru":false,"label":"Add Row","tooltip":"","color":"","bgcolor":"","icon":"fa-plus-squared","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":60,"y":720,"wires":[["09bcff85c9ef6533","1fe637debe719ed1"]]},{"id":"09bcff85c9ef6533","type":"change","z":"1d28ab40a18bec3b","name":"","rules":[{"t":"set","p":"command","pt":"flow","to":"addRow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":660,"wires":[[]]},{"id":"1fe637debe719ed1","type":"change","z":"1d28ab40a18bec3b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"show\":[\"Dashboard_Data\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":780,"wires":[["ceeec583e1517a29"]]},{"id":"ceeec583e1517a29","type":"link out","z":"1d28ab40a18bec3b","name":"link out 2","mode":"link","links":["18ce3e72d0dc59b7"],"x":325,"y":780,"wires":[]},{"id":"e370ec2a35ca4292","type":"http request","z":"1d28ab40a18bec3b","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:8080/test","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":300,"y":940,"wires":[["a9ed9e532a7256ba"]]},{"id":"a5d7583c9ef5a9a9","type":"inject","z":"1d28ab40a18bec3b","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":90,"y":940,"wires":[["e370ec2a35ca4292"]]},{"id":"6c607914d2e81ea2","type":"debug","z":"1d28ab40a18bec3b","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":940,"wires":[]},{"id":"a9ed9e532a7256ba","type":"json","z":"1d28ab40a18bec3b","name":"","property":"payload","action":"","pretty":false,"x":490,"y":940,"wires":[["6c607914d2e81ea2","a99913651513ce22"]]},{"id":"a99913651513ce22","type":"function","z":"1d28ab40a18bec3b","name":"function 8","func":"var inp =msg.payload\n\n\nvar id =flow.get(\"id\")||0\nid++;\n\ninp.id=id\n\nflow.set(\"id\",id)\n\nmsg.payload ={\n\n    command: \"addRow\",\n    arguments:[\n        [inp[1]],\n        true\n    ]\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":840,"wires":[["98cabba0410e101a"]]},{"id":"09a11eb8da91d7b4","type":"function","z":"d9d2f214529d33da","name":"function 6","func":"// Access the combined message parts\n//const time = msg.payload.time;\n//const weekdays = msg.payload.weekdays;\n//const state = msg.payload.state;\n\nvar dict=flow.get(\"obj\")||{\"time\" : \"00:00\",\n    \"weekdays\": [],   \n    \"state\": \"\" }\n\n msg.payload = dict   \n\nif (msg.payload.time === undefined || msg.payload.weekdays === undefined || msg.payload.state === undefined) {\n    node.error(\"All values (time, weekday, state) are required.\", msg);\n    return null;\n}\n\n// Construct the SQL query\nmsg.topic = `INSERT INTO schedules (time, weekday, state) VALUES ('${msg.payload.time}', '${msg.payload.weekdays}', '${msg.payload.state}');`;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":240,"wires":[["847e7332f66fb389"]]},{"id":"847e7332f66fb389","type":"sqlite","z":"d9d2f214529d33da","mydb":"92c93a6ab1150941","sqlquery":"msg.topic","sql":"","name":"","x":410,"y":240,"wires":[[]]},{"id":"a249614546eb0096","type":"inject","z":"d9d2f214529d33da","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM schedules;","payload":"","payloadType":"str","x":140,"y":380,"wires":[["c004d03fa8f0be8e"]]},{"id":"c004d03fa8f0be8e","type":"sqlite","z":"d9d2f214529d33da","mydb":"92c93a6ab1150941","sqlquery":"msg.topic","sql":"","name":"","x":530,"y":380,"wires":[["9ece25d12307b464"]]},{"id":"9ece25d12307b464","type":"debug","z":"d9d2f214529d33da","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":480,"wires":[]},{"id":"efa68867bf6ab97c","type":"ui_ui_control","z":"d9d2f214529d33da","name":"","events":"all","x":580,"y":80,"wires":[[]]},{"id":"18ce3e72d0dc59b7","type":"link in","z":"d9d2f214529d33da","name":"link in 2","links":["edf57e48f8fa47e7","ceeec583e1517a29"],"x":95,"y":80,"wires":[["efa68867bf6ab97c"]]},{"id":"fee2223ce6538297","type":"ui_ui_control","z":"d9d2f214529d33da","name":"","events":"all","x":120,"y":160,"wires":[["e0f0a3d614387acb"]]},{"id":"e0f0a3d614387acb","type":"change","z":"d9d2f214529d33da","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Dashboard_Data\",\"Dashboard_Row\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[["efa68867bf6ab97c"]]}]