flows.json
{"id":"d9d2f214529d33da","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"09a11eb8da91d7b4","type":"function","z":"d9d2f214529d33da","name":"function 6","func":"// Access the combined message parts\n//const time = msg.payload.time;\n//const weekdays = msg.payload.weekdays;\n//const state = msg.payload.state;\n\nvar dict=flow.get(\"obj\")||{\"time\" : \"00:00\",\n    \"weekdays\": [],   \n    \"state\": \"\" }\n\n msg.payload = dict   \n\nif (msg.payload.time === undefined || msg.payload.weekdays === undefined || msg.payload.state === undefined) {\n    node.error(\"All values (time, weekday, state) are required.\", msg);\n    return null;\n}\n\n// Construct the SQL query\nmsg.topic = `INSERT INTO schedules (time, weekday, state) VALUES ('${msg.payload.time}', '${msg.payload.weekdays}', '${msg.payload.state}');`;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":80,"y":240,"wires":[["847e7332f66fb389"]]},{"id":"847e7332f66fb389","type":"sqlite","z":"d9d2f214529d33da","mydb":"92c93a6ab1150941","sqlquery":"msg.topic","sql":"","name":"","x":410,"y":240,"wires":[[]]},{"id":"a249614546eb0096","type":"inject","z":"d9d2f214529d33da","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM schedules;","payload":"","payloadType":"str","x":140,"y":380,"wires":[["c004d03fa8f0be8e"]]},{"id":"c004d03fa8f0be8e","type":"sqlite","z":"d9d2f214529d33da","mydb":"92c93a6ab1150941","sqlquery":"msg.topic","sql":"","name":"","x":530,"y":380,"wires":[["9ece25d12307b464"]]},{"id":"9ece25d12307b464","type":"debug","z":"d9d2f214529d33da","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":820,"y":480,"wires":[]},{"id":"18ce3e72d0dc59b7","type":"link in","z":"d9d2f214529d33da","name":"link in 2","links":["edf57e48f8fa47e7","ceeec583e1517a29"],"x":95,"y":80,"wires":[[]]},{"id":"e0f0a3d614387acb","type":"change","z":"d9d2f214529d33da","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group\":{\"hide\":[\"Dashboard_Data\",\"Dashboard_Row\"]}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":160,"wires":[[]]},{"id":"d5eceb8abc328ad2","type":"ui_text_input","z":"d9d2f214529d33da","name":"","label":"","tooltip":"","group":"1ca872d52c8280c0","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":360,"y":80,"wires":[[]]},{"id":"80ee528d1553a3c0","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":1,"width":17,"height":1},{"id":"7a84557cbbf0cc02","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":3,"width":8,"height":1},{"id":"a9f7527ec10f1e31","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":5,"width":14,"height":1},{"id":"e01eb8dd2f92184f","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":6,"width":17,"height":1},{"id":"ec367a5b12a8bbaa","type":"ui_spacer","z":"d9d2f214529d33da","name":"spacer","group":"d0ce65ddaf752a43","order":12,"width":17,"height":1},{"id":"92c93a6ab1150941","type":"sqlitedb","db":"D:\\Documents\\node\\sqlite-tools-win-x64-3460100/lamp_schedule.db","mode":"RWC"},{"id":"1ca872d52c8280c0","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"d0ce65ddaf752a43","type":"ui_group","name":"Health System","tab":"b02562d37cc13e0d","order":1,"disp":true,"width":17,"collapse":false,"className":""},{"id":"b02562d37cc13e0d","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
